{% extends "base_admin.html.twig" %}
{% block title_admin %}ESPACE ADMINISTRATION {% endblock %}
{% block body %}
   <div id="wrapper-home">
       <h1 class="header">Informations générales</h1>
        <div id="informations_site">
            <h2>Google Analytics</h2>
        </div>
       <div id="mid-wrapper">
           <div id="user_infos">
               <h2>Informations sur l'utilisateur</h2>
              <p>Pseudo : Toto</p>
               <p>Mot de pase : ******</p>
               <p>Adresse mail : toto@gmail.com</p>
               <p>Adresse Ip: 127.0.0.1</p>
               <p>Modifier mes informations</p>
           </div>
           <div id="systeme">
               <h2></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt praesentium provident quas! A assumenda dolore, excepturi expedita explicabo fugit impedit itaque laboriosam laborum quis similique soluta tempora tempore tenetur velit.</p>
           </div>
       </div>

   </div>
{% endblock %}


