/* line 6, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/style.scss */
p {
  margin: 0;
  padding: 0;
}

/******REGLES RESET***********/
/* line 66, ../sass/style.scss */
img {
  border: none;
}

/* line 67, ../sass/style.scss */
a {
  text-decoration: none;
  color: #97bf0d;
}

/* line 69, ../sass/style.scss */
h1 {
  margin: 0;
  padding: 0;
  font-size: 44px;
  font-family: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

/* line 76, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 100%;
  min-width: 600px;
  max-width: 2000px;
  background-color: #C1E53D;
}

/*********************************/
/*
*****CONTAINER PRINCIPAL********
*/
/* line 91, ../sass/style.scss */
#container {
  width: 1200px;
  min-height: 1040px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 45px;
  padding-top: 10px;
  position: relative;
}

/*********************************/
/*
*****HEADER********
*/
/* line 105, ../sass/style.scss */
#header {
  position: relative;
  width: 1300px;
  height: 430px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: url("../img/background.jpg");
  border-radius: 0 0 20px 20px;
}
/* line 113, ../sass/style.scss */
#header h1 {
  font-size: 44px;
  color: #FFF;
  font-family: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 118, ../sass/style.scss */
#header #bulles {
  width: 1200px;
  margin-left: 450px;
  padding: 10px;
  background-position: bottom;
  background-repeat: no-repeat;
  -moz-border-radius-bottomleft: 50px;
  -webkit-border-bottom-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  -webkit-border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* line 126, ../sass/style.scss */
#header #bulles img {
  float: left;
  margin-right: 10px;
}

/* line 130, ../sass/style.scss */
#silhouette {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

/* line 136, ../sass/style.scss */
#container_logo {
  float: left;
}
/* line 138, ../sass/style.scss */
#container_logo img {
  max-height: 400px;
  max-width: 300px;
  margin-left: -25px;
  margin-top: -30px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
}

/* line 149, ../sass/style.scss */
.small-header {
  width: 1300px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  background: url("../img/background.jpg");
  border-radius: 0 0 20px 20px;
}

/********************************/
/****** FACEBOOK ***************/
/* line 161, ../sass/style.scss */
#facebook {
  position: absolute;
  left: 15px;
  top: 153px;
  width: 200px;
  height: 40px;
  background-color: #3B5998;
  color: #FFF;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
/* line 172, ../sass/style.scss */
#facebook img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 5px 5px 10px 10px;
}

/***************************/
/***** WRAPPER CONTENANT L'ACTU ET LES OFFRE *****/
/* line 182, ../sass/style.scss */
#wrapper-top {
  width: 100%;
  height: 350px;
}

/****************************************/
/********* ACTUALITE *********/
/* line 186, ../sass/style.scss */
#actu {
  width: 600px;
  height: 318px;
  float: left;
  background: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
}

/* line 195, ../sass/style.scss */
#header_actu {
  position: absolute;
  width: 631px;
  height: 40px;
  font-size: 30px;
  background: #97bf0d;
  color: white;
  margin-left: -31px;
  margin-top: -22px;
  line-height: 40px;
  z-index: 20;
  -webkit-border-radius: 20px 0 0 0;
  -moz-border-radius: 20px 0 0 0;
  -ms-border-radius: 20px 0 0 0;
  -o-border-radius: 20px 0 0 0;
  border-radius: 20px 0 0 0;
}
/* line 198, ../sass/style.scss */
#header_actu img {
  vertical-align: -5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 205, ../sass/style.scss */
#header_actu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  left: 0;
  border-style: solid;
  border-width: 0 31px 26px 0;
  border-color: transparent #8BA807 transparent transparent;
}

/* line 207, ../sass/style.scss */
#offre {
  width: 560px;
  height: 318px;
  background: white;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
}
/* line 213, ../sass/style.scss */
#offre table {
  width: 540px;
  border-collapse: separate;
  border-spacing: 0px 5px;
  margin: 0 auto;
  margin-top: 20px;
  color: #4f5d64;
}
/* line 221, ../sass/style.scss */
#offre table td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #FFF;
  background-color: #e5e5e5;
  border-bottom: 2px solid silver;
}
/* line 228, ../sass/style.scss */
#offre table tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 20px;
  -moz-border-radius: 0 0 0 20px;
  -ms-border-radius: 0 0 0 20px;
  -o-border-radius: 0 0 0 20px;
  border-radius: 0 0 0 20px;
}
/* line 231, ../sass/style.scss */
#offre table tr:last-child td:last-child {
  -webkit-border-radius: 0 0 20px 0;
  -moz-border-radius: 0 0 20px 0;
  -ms-border-radius: 0 0 20px 0;
  -o-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
}
/* line 235, ../sass/style.scss */
#offre table th {
  padding: 10px;
  color: #FFF;
  background: #97bf0d;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* line 245, ../sass/style.scss */
#header_offre {
  position: absolute;
  width: 592px;
  height: 40px;
  font-size: 30px;
  background: #97bf0d;
  color: white;
  margin-top: -22px;
  padding-left: 16px;
  line-height: 40px;
  -webkit-border-radius: 0 20px 0 0;
  -moz-border-radius: 0 20px 0 0;
  -ms-border-radius: 0 20px 0 0;
  -o-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}
/* line 257, ../sass/style.scss */
#header_offre p {
  float: right;
}
/* line 260, ../sass/style.scss */
#header_offre img {
  vertical-align: -5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 267, ../sass/style.scss */
#header_offre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  right: 0;
  border-style: solid;
  border-width: 26px 31px 0 0;
  border-color: #8BA807 transparent transparent transparent;
}

/*************************/
/******* SLOGAN *********/
/* line 273, ../sass/style.scss */
#slogan {
  width: 70%;
  height: 70px;
  background: white;
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 4px solid #718e08;
  line-height: 70px;
  text-align: center;
  font-family: "segoe print",Calibri,Arial,Sans-Serif;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 284, ../sass/style.scss */
#slogan h2 {
  color: #97bf0d;
  font-size: 20px;
}
/* line 285, ../sass/style.scss */
#slogan img {
  vertical-align: text-top;
}

/****************************/
/*
*****ELEMENTS ANTENNES********
*/
/* line 295, ../sass/style.scss */
#btn_anntennes {
  width: 300px;
  height: 100px;
  font-size: 25px;
  border: 2px solid #97bf0d;
  border-bottom: 4px solid #97bf0d;
  background-color: white;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #97bf0d;
  margin-right: 30px;
  margin-top: 60px;
  float: right;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
}

/* line 312, ../sass/style.scss */
#btn_anntennes:hover {
  cursor: pointer;
  background: #545657;
  outline: none;
}

/* line 317, ../sass/style.scss */
.img_antennes {
  float: right;
}

/* line 319, ../sass/style.scss */
#container_antennes {
  width: 95%;
  background: #4F5D64;
  margin: 0 auto;
  height: auto;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
/* line 325, ../sass/style.scss */
#container_antennes hr {
  border: 1px solid #97bf0d;
}
/* line 331, ../sass/style.scss */
#container_antennes #ant_left, #container_antennes #ant_right {
  width: 550px;
  height: 220px;
  background: #97bf0d;
  margin-top: 60px;
  color: white;
  float: left;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  position: relative;
}
/* line 341, ../sass/style.scss */
#container_antennes #ant_right {
  float: right;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}

/* line 348, ../sass/style.scss */
.contenu_antennes {
  margin-left: 20px;
}
/* line 350, ../sass/style.scss */
.contenu_antennes img {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 356, ../sass/style.scss */
.contenu_antennes hr {
  border: 1px solid #97bf0d;
}
/* line 358, ../sass/style.scss */
.contenu_antennes h3 {
  font-size: 30px;
  margin: 0;
}
/* line 359, ../sass/style.scss */
.contenu_antennes h4 {
  color: #4F5D64;
  font-size: 20px;
  margin: 0;
}

/*****************************/
/* line 368, ../sass/style.scss */
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/**MENU DU BAS*************/
/* line 375, ../sass/style.scss */
#menu {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 383, ../sass/style.scss */
#menu .item_menu {
  display: inline;
  width: 400px;
  background: #FFF;
  list-style: none;
  padding: 10px;
  margin-right: 10px;
  border-bottom: 4px solid #718e08;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 395, ../sass/style.scss */
#container_menu {
  display: flex;
  width: 100%;
  height: 100px;
  background: #97bf0d;
  text-align: center;
  margin-top: 20px;
  border-bottom: 4px solid #718e08;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/****************************/
/***** MAP ************/
/* line 412, ../sass/style.scss */
#map {
  width: 900px;
  height: 350px;
  float: left;
  margin-top: 30px;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 421, ../sass/style.scss */
#marker h2 {
  font-size: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #97bf0d;
}
/* line 422, ../sass/style.scss */
#marker p {
  font-size: 18px;
  color: #4f5d64;
}

/* line 425, ../sass/style.scss */
#header_where:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  left: 0;
  border-style: solid;
  border-width: 0 31px 26px 0;
  border-color: transparent #8BA807 transparent transparent;
}

/* line 428, ../sass/style.scss */
.cb {
  clear: both;
}

/* line 431, ../sass/style.scss */
#iteneraire {
  width: 320px;
  background-color: #fff;
  float: right;
  padding-top: 30px;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 20px;
  color: #97bf0d;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border-bottom: 4px solid #97bf0d;
}
/* line 443, ../sass/style.scss */
#iteneraire form {
  margin-top: 20px;
  padding: 10px;
}
/* line 446, ../sass/style.scss */
#iteneraire label {
  display: block;
  width: 150px;
  height: 20px;
  float: left;
  margin-bottom: 5px;
}
/* line 453, ../sass/style.scss */
#iteneraire input[type="text"] {
  width: 140px;
  height: 20px;
  color: #97bf0d;
  margin-bottom: 5px;
}
/* line 459, ../sass/style.scss */
#iteneraire input[type="button"] {
  padding: 5px;
  background: #97bf0d;
  color: white;
  border: none;
  font-size: 20px;
  margin-top: 10px;
}
/* line 467, ../sass/style.scss */
#iteneraire select {
  width: 120px;
}

/* line 472, ../sass/style.scss */
#panel {
  width: 700px;
  margin: auto;
  z-index: 100;
  background: white;
}

/* line 478, ../sass/style.scss */
#header_iteneraire {
  width: 320px;
  height: 60px;
  font-size: 44px;
  background: #97bf0d;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  color: white;
  line-height: 60px;
  margin-top: -51px;
  text-align: left;
  border-top: 1px solid white;
}
/* line 489, ../sass/style.scss */
#header_iteneraire img {
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: -5px;
  margin-top: 5px;
}

/* line 496, ../sass/style.scss */
#where {
  margin-top: 80px;
  position: relative;
  width: 100%;
  height: 420px;
  padding: 10px 0 10px 10px;
  background: #97bf0d;
}

/* line 504, ../sass/style.scss */
#header_where {
  position: relative;
  position: absolute;
  width: 1240px;
  height: 40px;
  font-size: 30px;
  background: #97bf0d;
  color: white;
  margin-left: -31px;
  margin-top: -22px;
  line-height: 40px;
  z-index: 20;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
  margin-left: -40px;
  border-bottom: 1px solid white;
}
/* line 511, ../sass/style.scss */
#header_where img {
  vertical-align: -5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

/***** BOUTON D'APPEL *****/
/* line 520, ../sass/style.scss */
#block_appel {
  position: absolute;
  top: -140px;
  right: 35px;
  width: 300px;
  height: 150px;
  background: #4f5d64;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 530, ../sass/style.scss */
#block_appel p {
  text-align: center;
  color: white;
}
/* line 531, ../sass/style.scss */
#block_appel .punaise {
  margin: 0;
  margin-right: 10px;
}
/* line 533, ../sass/style.scss */
#block_appel #conseiller {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
}

/* line 541, ../sass/style.scss */
#block_appel:hover {
  border: 2px solid white;
  box-shadow: none;
  width: 302px;
  height: 152px;
}

/* line 547, ../sass/style.scss */
#header_where:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  right: 0;
  border-style: solid;
  border-width: 26px 31px 0 0;
  border-color: #8BA807 transparent transparent transparent;
}

/****************************/
/*******M MODAL BOX **************/
/* line 551, ../sass/style.scss */
#modalbox {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
/* line 561, ../sass/style.scss */
#modalbox #box {
  width: 700px;
  height: 240px;
  background: #fff;
  margin: 1.5em auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
/* line 569, ../sass/style.scss */
#modalbox .logo_small {
  margin: 20px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  float: left;
}
/* line 574, ../sass/style.scss */
#modalbox .silhouette_small {
  width: 200px;
  height: 240px;
  float: left;
  -webkit-border-radius: 0 0 0 20px;
  -moz-border-radius: 0 0 0 20px;
  -ms-border-radius: 0 0 0 20px;
  -o-border-radius: 0 0 0 20px;
  border-radius: 0 0 0 20px;
}
/* line 580, ../sass/style.scss */
#modalbox h3 {
  color: #97bf0d;
  font-size: 30px;
}
/* line 584, ../sass/style.scss */
#modalbox label {
  display: block;
  width: 200px;
  float: left;
  font-size: 25px;
}
/* line 590, ../sass/style.scss */
#modalbox form {
  width: 320px;
}
/* line 591, ../sass/style.scss */
#modalbox input {
  display: inline-block;
  font-size: 25px;
}

/* line 593, ../sass/style.scss */
#modalbox:target {
  display: block;
}
/* line 596, ../sass/style.scss */
#modalbox:target html, #modalbox:target body {
  overflow: hidden;
}
/* line 599, ../sass/style.scss */
#modalbox:target #form-appel {
  float: left;
  width: 300px;
  padding: 10px;
  margin-top: -20px;
}

/* line 607, ../sass/style.scss */
.btn-submit {
  float: right;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: #97bf0d;
  border-bottom: 4px solid #718e08;
  color: white;
}

/* line 617, ../sass/style.scss */
.cross {
  position: absolute;
  top: 2px;
  right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
/* line 626, ../sass/style.scss */
.cross a {
  color: #4f5d64;
  font-weight: bold;
  font-size: 25px;
}

/* line 633, ../sass/style.scss */
.cross:hover {
  background: #4f5d64;
}
/* line 636, ../sass/style.scss */
.cross:hover a {
  color: white;
}

/*******MOINS 26 ANS *************/
/* line 642, ../sass/style.scss */
.bulle_categorie {
  width: 400px;
  height: 339px;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* line 650, ../sass/style.scss */
#block-contact {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: white;
  background: #EE7F00;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 658, ../sass/style.scss */
#back-categorie {
  width: 53.3em;
  display: block;
  height: 130px;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 17%;
  left: 25%;
}

/* line 669, ../sass/style.scss */
li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 677, ../sass/style.scss */
.li-former {
  background-color: #579ca1;
}

/* line 680, ../sass/style.scss */
.li-faire {
  background-color: #d40050;
}

/* line 683, ../sass/style.scss */
.li-quotidien {
  background-color: #ee7f00;
}

/* line 686, ../sass/style.scss */
.li-emploi {
  background-color: #97bf0d;
}

/* line 689, ../sass/style.scss */
.bulle_moins_26 {
  margin-left: 300px;
}

/* line 693, ../sass/style.scss */
.conseiller {
  font-size: 2em;
  color: white;
  font-weight: bold;
}

/* line 699, ../sass/style.scss */
#block_emploi, #block_faire, #block_former, #block_quotidien {
  width: 300px;
  height: auto;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97bf0d), color-stop(50%, #97bf0d), color-stop(100%, #c1e53d));
  background-image: -webkit-linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  background-image: -moz-linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  background-image: -o-linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  background-image: linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
  transition: all 1s;
}
/* line 710, ../sass/style.scss */
#block_emploi h1, #block_faire h1, #block_former h1, #block_quotidien h1 {
  font-size: 25px;
}
/* line 714, ../sass/style.scss */
#block_emploi p, #block_faire p, #block_former p, #block_quotidien p {
  color: #FFF;
  font-size: 18px;
  margin: 0;
  padding: 10px;
}
/* line 720, ../sass/style.scss */
#block_emploi p:hover, #block_faire p:hover, #block_former p:hover, #block_quotidien p:hover {
  cursor: pointer;
}
/* line 724, ../sass/style.scss */
#block_emploi hr, #block_faire hr, #block_former hr, #block_quotidien hr {
  border: 1px dotted white;
  text-align: center;
  margin: 0;
}

/* line 731, ../sass/style.scss */
#wrapper-item {
  width: 1080px;
  height: 100vh;
  margin: 0 auto;
  margin-bottom: 50px;
  background: #cccccc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 740, ../sass/style.scss */
#bandeau_categorie, #bandeau_employeur {
  width: 1312px;
  height: 50px;
  background-color: #F07D00;
  position: relative;
  margin-bottom: -20px;
  margin-left: -16px;
  line-height: 50px;
}
/* line 749, ../sass/style.scss */
#bandeau_categorie p, #bandeau_employeur p {
  font-size: 25px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

/* line 756, ../sass/style.scss */
#bandeau_employeur {
  width: 1375px;
  margin-left: 13px;
  background-color: #97bf0d;
}

/* line 762, ../sass/style.scss */
#bandeau_categorie:after, #bandeau_employeur:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 49px;
  right: -1px;
  border-style: solid;
  border-width: 26px 27px 0 0;
  border-color: #9b5000 transparent transparent transparent;
  z-index: 5;
}

/* line 774, ../sass/style.scss */
#bandeau_employeur:after {
  border-color: #759E1A transparent transparent transparent;
}

/* line 777, ../sass/style.scss */
#bandeau_categorie:before, #bandeau_employeur:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 49px;
  left: -1px;
  border-style: solid;
  border-width: 0 27px 26px 0;
  border-color: transparent #9b5000 transparent transparent;
  z-index: 5;
}
/* line 788, ../sass/style.scss */
#bandeau_categorie:before h1, #bandeau_employeur:before h1 {
  color: #ffffff;
}

/* line 792, ../sass/style.scss */
#bandeau_employeur:before {
  border-color: transparent #759E1A transparent transparent;
}

/*********************************************/
/* line 797, ../sass/style.scss */
.item_emploi, .item_faire, .item_quotidien, .item_former {
  display: none;
}

/* line 804, ../sass/style.scss */
#block_emploi p:hover {
  background-color: #759e1a;
}

/* line 809, ../sass/style.scss */
#block_former {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #579ca1), color-stop(50%, #579ca1), color-stop(100%, #6bbbc6));
  background-image: -webkit-linear-gradient(#579ca1, #579ca1, #6bbbc6);
  background-image: -moz-linear-gradient(#579ca1, #579ca1, #6bbbc6);
  background-image: -o-linear-gradient(#579ca1, #579ca1, #6bbbc6);
  background-image: linear-gradient(#579ca1, #579ca1, #6bbbc6);
}
/* line 811, ../sass/style.scss */
#block_former p:hover {
  background-color: #30a8a6;
}

/* line 816, ../sass/style.scss */
#block_faire {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d40050), color-stop(50%, #d40050), color-stop(100%, #c14b72));
  background-image: -webkit-linear-gradient(#d40050, #d40050, #c14b72);
  background-image: -moz-linear-gradient(#d40050, #d40050, #c14b72);
  background-image: -o-linear-gradient(#d40050, #d40050, #c14b72);
  background-image: linear-gradient(#d40050, #d40050, #c14b72);
}
/* line 818, ../sass/style.scss */
#block_faire p:hover {
  background-color: #d14976;
}

/* line 822, ../sass/style.scss */
#block_quotidien {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee7f00), color-stop(50%, #ee7f00), color-stop(100%, #f08f3d));
  background-image: -webkit-linear-gradient(#ee7f00, #ee7f00, #f08f3d);
  background-image: -moz-linear-gradient(#ee7f00, #ee7f00, #f08f3d);
  background-image: -o-linear-gradient(#ee7f00, #ee7f00, #f08f3d);
  background-image: linear-gradient(#ee7f00, #ee7f00, #f08f3d);
  z-index: 20;
}
/* line 824, ../sass/style.scss */
#block_quotidien p:hover {
  background-color: #fca350;
}
/* line 827, ../sass/style.scss */
#block_quotidien h1 {
  font-size: 25px;
  padding-bottom: 9px;
}

/* line 834, ../sass/style.scss */
#bandeau_perso {
  width: 1050px;
  display: block;
  margin: 0 auto;
}

/*
** PAGE MOINS 26 n+2 ELEMENT A DROITE
*/
/* line 843, ../sass/style.scss */
#wrapper-categorie {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #cccccc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 852, ../sass/style.scss */
#wrapper-categorie #first-right h2 {
  font-size: 2em;
  color: #545657;
}
/* line 857, ../sass/style.scss */
#wrapper-categorie #first-right {
  width: 60%;
  height: 30em;
  float: right;
  margin-right: 10em;
  margin-top: 2em;
  text-align: center;
}

/* line 866, ../sass/style.scss */
.item_right {
  display: none;
  position: relative;
  width: 30%;
  height: 30em;
  float: left;
  background-color: #ffffff;
  margin: 2em 0 2em 5em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 876, ../sass/style.scss */
.item_right .logo_item {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 881, ../sass/style.scss */
.item_right h2 {
  margin: 0;
  margin-left: 10px;
}
/* line 885, ../sass/style.scss */
.item_right ul {
  margin: 0;
  padding: 0;
}
/* line 889, ../sass/style.scss */
.item_right li {
  font-size: 25px;
}
/* line 892, ../sass/style.scss */
.item_right li:before {
  content: "- ";
}
/* line 895, ../sass/style.scss */
.item_right p {
  margin: 10px;
}

/* line 900, ../sass/style.scss */
.bandeau_sous_item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 800px;
}

/* line 907, ../sass/style.scss */
.border-emploi {
  border: 3px solid #97bf0d;
  color: #97bf0d;
}

/* line 911, ../sass/style.scss */
.border-faire {
  border: 3px solid #d40050;
}

/* line 914, ../sass/style.scss */
.border-former {
  border: 3px solid #579ca1;
  color: #579ca1;
}

/* line 918, ../sass/style.scss */
.border-quotidien {
  border: 3px solid #ee7f00;
}

/* line 924, ../sass/style.scss */
.button {
  width: 300px;
  font-size: 20px;
  color: white;
  background-color: #c1e53d;
  border: 1px solid white;
  margin-left: 50px;
  margin-top: -50px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 935, ../sass/style.scss */
.button:hover {
  color: #c1e53d;
  background-color: white;
  cursor: pointer;
}

/******************************************/
/********PAGE EMPLOYEUR*******************/
/* line 943, ../sass/style.scss */
#liste_employeur {
  display: block;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
/* line 948, ../sass/style.scss */
#liste_employeur li {
  list-style: none;
  display: inline-block;
  background-color: #94C11F;
  padding: 10px;
  font-size: 25px;
  color: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-right: 10px;
  width: 300px;
  height: 500px;
  text-align: center;
}
/* line 960, ../sass/style.scss */
#liste_employeur li h1 {
  font-size: 30px;
}
/* line 965, ../sass/style.scss */
#liste_employeur li:hover {
  cursor: pointer;
}

/*****************************************/
/*********FIL D'ARIANNE***********/
/* line 976, ../sass/style.scss */
.arianne {
  display: inline-block;
  width: auto;
  height: 40px;
  background-color: white;
  color: #97bf0d;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  float: left;
  -webkit-border-radius: 20px 0 20px 0;
  -moz-border-radius: 20px 0 20px 0;
  -ms-border-radius: 20px 0 20px 0;
  -o-border-radius: 20px 0 20px 0;
  border-radius: 20px 0 20px 0;
}
/* line 987, ../sass/style.scss */
.arianne p {
  margin: 0;
}
/* line 990, ../sass/style.scss */
.arianne a {
  color: #97bf0d;
}

/**********************************/
/* line 997, ../sass/style.scss */
footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 28px;
}

/***** POUR LES ECRANS D'UNE TAILLE INFERIEURE A 1680PX (19 pouces)
********************************************************************/
@media screen and (max-width: 1700px) {
  /* line 1006, ../sass/style.scss */
  #container {
    width: 90%;
  }

  /* line 1009, ../sass/style.scss */
  #header {
    height: 400px;
  }
  /* line 1012, ../sass/style.scss */
  #header #bulles {
    width: 1100px;
    margin-left: 300px;
  }

  /* line 1020, ../sass/style.scss */
  #objectif {
    width: 95%;
  }

  /* line 1023, ../sass/style.scss */
  #map {
    width: 800px;
  }

  /* line 1030, ../sass/style.scss */
  #containerMoins26 .fleche {
    width: 1000px;
    margin-bottom: 0;
  }

  /* line 1036, ../sass/style.scss */
  #liste_employeur li {
    width: 250px;
  }

  /* line 1040, ../sass/style.scss */
  #bandeau_employeur {
    width: 1175px;
  }

  /* line 1043, ../sass/style.scss */
  .dialogue {
    width: 700px;
    height: 421px;
  }

  /* line 1047, ../sass/style.scss */
  #container_actions {
    margin-left: 0;
  }
}
/* line 1055, ../sass/style.scss */
#title_header {
  width: 700px;
  height: 120px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: 120px;
  background: #4f5d64;
  color: #97bf0d;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 1068, ../sass/style.scss */
#title_header h1 {
  font-size: 40px;
}

/* line 1072, ../sass/style.scss */
.champs-requis {
  color: #ff6649;
}

/********************************************************************/
/*****POUR LES ECRANS FULL HD****/
/********************************************************************/
/* line 1080, ../sass/style.scss */
#container {
  width: 75%;
}

/* line 1084, ../sass/style.scss */
#offre {
  float: right;
}
/* line 1086, ../sass/style.scss */
#offre table {
  margin-top: 30px;
}

/* line 1090, ../sass/style.scss */
#container_emploi {
  margin-left: 240px;
}

/* line 1093, ../sass/style.scss */
#header_offre, #header_actu, #header_where {
  font-size: 40px;
}

/* line 1096, ../sass/style.scss */
#header_offre {
  height: 40px;
  margin-bottom: 20px;
}

/* line 1100, ../sass/style.scss */
#header_offre:after {
  top: 40px;
}

/* line 1105, ../sass/style.scss */
#block_emploi .conseiller, #block_faire .conseiller, #block_former .conseiller, #block_quotidien .conseiller {
  font-size: 2em;
}

/* line 1110, ../sass/style.scss */
#containerCategorie ul {
  margin-top: 50px;
}

/* line 1116, ../sass/style.scss */
.contact {
  float: right;
  margin: 0;
  margin-right: 20px;
  transition: width 2s;
}
/* line 1122, ../sass/style.scss */
.contact:hover {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

/*******************************************************************/
/********************************************************************/
/***** POUR LES ECRANS D'UNE TAILLE INFERIEURE A 1600PX (14 pouces)
********************************************************************/
@media screen and (max-width: 1710px) {
  /* line 1136, ../sass/style.scss */
  #container {
    width: 87%;
  }

  /* line 1139, ../sass/style.scss */
  #container_actions {
    margin-left: 100px;
  }

  /* line 1142, ../sass/style.scss */
  #container_item_emploi {
    margin-top: 20px;
  }
}
/********************************************************************/
/***** POUR LES ECRANS D'UNE TAILLE INFERIEURE A 1400PX (15 pouces)
********************************************************************/
@media screen and (max-width: 1500px) {
  /* line 1152, ../sass/style.scss */
  #container {
    width: 1180px;
  }

  /* line 1157, ../sass/style.scss */
  #map {
    width: 800px;
  }

  /* line 1163, ../sass/style.scss */
  #header {
    height: 400px;
  }
  /* line 1166, ../sass/style.scss */
  #header #bulles {
    width: 1000px;
    margin-left: 260px;
  }

  /* line 1172, ../sass/style.scss */
  #header_offre, #header_actu, #header_where {
    font-size: 30px;
  }

  /* line 1176, ../sass/style.scss */
  #header_offre:after {
    top: 40px;
  }

  /* line 1179, ../sass/style.scss */
  #container_actions {
    margin-left: 100px;
  }

  /* line 1182, ../sass/style.scss */
  #container_item_emploi {
    margin-top: 20px;
  }

  /* line 1187, ../sass/style.scss */
  #item_menu3 li {
    display: inline-block;
    width: 250px;
    background: #FFF;
    list-style: none;
    padding: 10px;
    font-size: 25px;
    border-bottom: 4px solid #718e08;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 50px;
  }

  /* line 1201, ../sass/style.scss */
  #block_emploi, #block_faire, #block_former, #block_quotidien {
    width: 250px;
  }

  /* line 1205, ../sass/style.scss */
  #bandeau_categorie {
    width: 1290px;
    margin-top: -10px;
  }

  /* line 1211, ../sass/style.scss */
  #sub_container_item_faire {
    margin-left: 0;
    margin-top: 50px;
  }

  /* line 1215, ../sass/style.scss */
  .dialogue {
    width: 600px;
    height: 361px;
  }

  /* line 1220, ../sass/style.scss */
  #liste_employeur li {
    width: 250px;
  }

  /* line 1224, ../sass/style.scss */
  #bandeau_employeur {
    width: 1175px;
  }

  /* line 1227, ../sass/style.scss */
  #bandeau_categorie {
    width: 1112px;
    margin-top: -1Opx;
  }

  /* line 1232, ../sass/style.scss */
  #containerCategorie ul {
    margin-left: 0;
  }

  /* line 1236, ../sass/style.scss */
  .item_right {
    width: 700px;
  }
  /* line 1239, ../sass/style.scss */
  .item_right .bandeau_sous_item {
    width: 700px;
  }
}
/********************************************************************/
/***** POUR LES ECRANS D'UNE TAILLE INFERIEURE A 1420PX (15 pouces)
********************************************************************/
