/* line 6, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/style.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/******REGLES RESET***********/
/* line 66, ../sass/style.scss */
#slides {
  display: none;
}

/* line 69, ../sass/style.scss */
img {
  border: none;
}

/* line 70, ../sass/style.scss */
a {
  text-decoration: none;
  color: #97bf0d;
}

/* line 72, ../sass/style.scss */
h1 {
  margin: 0;
  padding: 0;
  font-size: 44px;
  font-family: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

/* line 79, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #C1E53D;
}

/*********************************/
/*
*****CONTAINER PRINCIPAL********
*/
/* line 91, ../sass/style.scss */
#container {
  width: 1260px;
  min-height: 1040px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 45px;
  padding-top: 10px;
  position: relative;
}

/*********************************/
/*
*****HEADER********
*/
/* line 105, ../sass/style.scss */
#header {
  position: relative;
  width: 1600px;
  height: 430px;
  margin: 0  auto;
  background: url("../img/background.jpg");
  border-radius: 0 0 20px 20px;
}
/* line 112, ../sass/style.scss */
#header h1 {
  font-size: 44px;
  color: #FFF;
  font-family: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 117, ../sass/style.scss */
#header #bulles {
  width: 951px;
  margin-left: 22%;
  padding: 10px;
  background-position: bottom;
  background-repeat: no-repeat;
  -moz-border-radius-bottomleft: 50px;
  -webkit-border-bottom-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  -webkit-border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* line 125, ../sass/style.scss */
#header #bulles img {
  float: left;
  margin-right: 10px;
}

/* line 129, ../sass/style.scss */
#silhouette {
  display: block;
  width: 1200px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -600px;
}

/* line 138, ../sass/style.scss */
#container_logo {
  float: left;
}
/* line 140, ../sass/style.scss */
#container_logo img {
  max-height: 400px;
  max-width: 300px;
  margin-left: -25px;
  margin-top: -30px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
}

/* line 151, ../sass/style.scss */
.small-header {
  width: 1500px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  background: url("../img/background.jpg");
  border-radius: 0 0 20px 20px;
}

/********************************/
/****** FACEBOOK ***************/
/* line 163, ../sass/style.scss */
#facebook {
  position: absolute;
  left: 15px;
  top: 153px;
  width: 200px;
  height: 40px;
  background-color: #3B5998;
  color: #FFF;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
/* line 174, ../sass/style.scss */
#facebook img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 5px 5px 10px 10px;
}

/***************************/
/***** WRAPPER CONTENANT L'ACTU ET LES OFFRE *****/
/* line 184, ../sass/style.scss */
#wrapper-top {
  width: 95.5%;
  height: 350px;
  margin: 40px auto;
}

/****************************************/
/********* ACTUALITE *********/
/* line 188, ../sass/style.scss */
#actu {
  width: 49%;
  height: 318px;
  float: left;
  background: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
  margin-right: 50px;
}
/* line 196, ../sass/style.scss */
#actu .slidesjs-previous {
  margin-left: 20px;
}
/* line 199, ../sass/style.scss */
#actu a {
  margin-right: 10px;
  color: #97bf0d;
}

/* line 205, ../sass/style.scss */
#header_actu {
  position: absolute;
  width: 620px;
  height: 40px;
  font-size: 30px;
  background: #97bf0d;
  color: white;
  margin-left: -31px;
  margin-top: -22px;
  line-height: 40px;
  z-index: 20;
  -webkit-box-shadow: 0 10px 30px -2px #343434;
  -moz-box-shadow: 0 10px 30px -2px #343434;
  box-shadow: 0 10px 30px -2px #343434;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 20px 0 0 0;
  -moz-border-radius: 20px 0 0 0;
  -ms-border-radius: 20px 0 0 0;
  -o-border-radius: 20px 0 0 0;
  border-radius: 20px 0 0 0;
}
/* line 211, ../sass/style.scss */
#header_actu img {
  vertical-align: -5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 219, ../sass/style.scss */
#header_actu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  left: 0;
  border-style: solid;
  border-width: 0 31px 26px 0;
  border-color: transparent #8BA807 transparent transparent;
}

/* line 221, ../sass/style.scss */
#offre {
  width: 46%;
  height: 318px;
  background: white;
  float: left;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
}
/* line 228, ../sass/style.scss */
#offre table {
  width: 540px;
  border-collapse: separate;
  border-spacing: 0px 5px;
  margin: 0 auto;
  margin-top: 20px;
  color: #4f5d64;
}
/* line 236, ../sass/style.scss */
#offre table td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #FFF;
  background-color: #e5e5e5;
  border-bottom: 2px solid silver;
}
/* line 243, ../sass/style.scss */
#offre table tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 20px;
  -moz-border-radius: 0 0 0 20px;
  -ms-border-radius: 0 0 0 20px;
  -o-border-radius: 0 0 0 20px;
  border-radius: 0 0 0 20px;
}
/* line 246, ../sass/style.scss */
#offre table tr:last-child td:last-child {
  -webkit-border-radius: 0 0 20px 0;
  -moz-border-radius: 0 0 20px 0;
  -ms-border-radius: 0 0 20px 0;
  -o-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
}
/* line 250, ../sass/style.scss */
#offre table th {
  padding: 10px;
  color: #FFF;
  background: #97bf0d;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* line 259, ../sass/style.scss */
#article {
  position: relative;
  width: 80%;
  margin: 50px auto;
  margin-bottom: 100px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background: #f5f5f5;
  padding-bottom: 30px;
}
/* line 271, ../sass/style.scss */
#article h1, #article #contenu {
  margin: 10px;
}
/* line 274, ../sass/style.scss */
#article .title-actu {
  background: #97BF0D;
  padding: 5px;
  border-bottom: 4px solid #718e08;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}

/* line 281, ../sass/style.scss */
#btn_articles {
  position: absolute;
  left: -1px;
  top: -32px;
  color: white;
  background: #97BF0D;
  height: 40px;
  font-size: 18px;
  padding: 5px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  text-decoration: underline;
}
/* line 282, ../sass/style.scss */
#btn_articles a {
  color: white;
}
/* line 295, ../sass/style.scss */
#btn_articles img {
  vertical-align: top;
}

/* line 299, ../sass/style.scss */
#container-article {
  width: 80%;
  min-height: 500px;
  height: auto;
  margin: 30px auto;
}
/* line 305, ../sass/style.scss */
#container-article .sous_actus {
  background: #97BF0D;
  color: #ffffff;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  padding-left: 10px;
}

/* line 312, ../sass/style.scss */
.last-10-articles {
  width: 45%;
  min-height: 500px;
  height: auto;
  float: left;
  background: #f5f5f5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 321, ../sass/style.scss */
.last-10-articles img {
  float: left;
  margin-right: 10px;
  border-right: 1px solid white;
}
/* line 326, ../sass/style.scss */
.last-10-articles .infos-article {
  margin: 20px;
  background: #C1E53D;
  border: 1px solid #dddce1;
  padding: 10px;
  min-height: 120px;
  height: auto;
  overflow: hidden;
}
/* line 334, ../sass/style.scss */
.last-10-articles .infos-article a {
  color: #4E5E65;
}
/* line 337, ../sass/style.scss */
.last-10-articles .infos-article hr {
  border: 1px solid #4E5E65;
}
/* line 340, ../sass/style.scss */
.last-10-articles .infos-article p {
  color: #4E5E65;
}
/* line 344, ../sass/style.scss */
.last-10-articles .extrait-article-description {
  text-align: justify;
}

/* line 350, ../sass/style.scss */
.all-articles {
  width: 50%;
  height: 500px;
  border: 1px solid #97bf0d;
  float: right;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 358, ../sass/style.scss */
.all-articles .description-actu {
  color: #4E5E65;
}
/* line 361, ../sass/style.scss */
.all-articles .article-extrait img {
  float: right;
  margin-right: 10px;
}

/* line 368, ../sass/style.scss */
.article-extrait {
  border-bottom: 1px solid #dddce1;
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 1px 1px 1px 5px;
}
/* line 374, ../sass/style.scss */
.article-extrait a {
  color: #97bf0d;
  font-size: 20px;
}

/* line 380, ../sass/style.scss */
.date-actu {
  color: #97bf0d;
}

/***** FIN ACTU ********/
/* line 384, ../sass/style.scss */
#header_offre {
  position: absolute;
  width: 585px;
  height: 40px;
  font-size: 30px;
  background: #97bf0d;
  color: white;
  margin-top: -22px;
  padding-left: 16px;
  line-height: 40px;
  -webkit-box-shadow: 0 10px 30px -2px #343434;
  -moz-box-shadow: 0 10px 30px -2px #343434;
  box-shadow: 0 10px 30px -2px #343434;
  -webkit-border-radius: 0 20px 0 0;
  -moz-border-radius: 0 20px 0 0;
  -ms-border-radius: 0 20px 0 0;
  -o-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}
/* line 397, ../sass/style.scss */
#header_offre p {
  float: right;
}
/* line 400, ../sass/style.scss */
#header_offre img {
  vertical-align: -5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 407, ../sass/style.scss */
#header_offre:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  right: 0;
  border-style: solid;
  border-width: 26px 31px 0 0;
  border-color: #8BA807 transparent transparent transparent;
}

/*************************/
/******* SLOGAN *********/
/* line 413, ../sass/style.scss */
#slogan {
  width: 64%;
  height: 70px;
  background: white;
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 4px solid #718e08;
  line-height: 70px;
  margin-left: 5%;
  text-align: center;
  font-family: "segoe print",Calibri,Arial,Sans-Serif;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 425, ../sass/style.scss */
#slogan h2 {
  color: #97bf0d;
  font-size: 20px;
}
/* line 426, ../sass/style.scss */
#slogan img {
  vertical-align: text-top;
}

/****************************/
/*
*****ELEMENTS ANTENNES********
*/
/* line 436, ../sass/style.scss */
#btn_anntennes {
  width: 300px;
  height: 100px;
  font-size: 25px;
  border: 2px solid #97bf0d;
  border-bottom: 4px solid #97bf0d;
  background-color: white;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #97bf0d;
  margin-right: 30px;
  margin-top: 60px;
  float: right;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
}

/* line 453, ../sass/style.scss */
#btn_anntennes:hover {
  cursor: pointer;
  background: #545657;
  outline: none;
}

/* line 458, ../sass/style.scss */
.img_antennes {
  float: right;
}

/* line 460, ../sass/style.scss */
#container_antennes {
  width: 1200px;
  background: #4F5D64;
  margin: 20px auto;
  height: auto;
  padding-bottom: 20px;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
/* line 467, ../sass/style.scss */
#container_antennes hr {
  border: 1px solid #97bf0d;
}
/* line 473, ../sass/style.scss */
#container_antennes #ant_left, #container_antennes #ant_right {
  width: 550px;
  height: 220px;
  background: #97bf0d;
  margin-top: 60px;
  color: white;
  float: left;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  position: relative;
}
/* line 483, ../sass/style.scss */
#container_antennes #ant_right {
  float: right;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
/* line 487, ../sass/style.scss */
#container_antennes h2 {
  text-align: center;
  font-family: "segoe print",Calibri,Arial,Sans-Serif;
  color: #97bf0d;
  font-size: 30px;
}

/* line 496, ../sass/style.scss */
.contenu_antennes {
  margin-left: 20px;
}
/* line 498, ../sass/style.scss */
.contenu_antennes img {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 504, ../sass/style.scss */
.contenu_antennes hr {
  border: 1px solid #97bf0d;
}
/* line 506, ../sass/style.scss */
.contenu_antennes h3 {
  font-size: 30px;
  margin: 0;
}
/* line 507, ../sass/style.scss */
.contenu_antennes h4 {
  color: #4F5D64;
  font-size: 20px;
  margin: 0;
}

/*****************************/
/* line 516, ../sass/style.scss */
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/**MENU DU BAS*************/
/* line 523, ../sass/style.scss */
#menu {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 531, ../sass/style.scss */
#menu .item_menu {
  display: inline;
  width: 400px;
  background: #FFF;
  color: #97bf0d;
  list-style: none;
  padding: 10px;
  margin-right: 10px;
  border-bottom: 4px solid #718e08;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 542, ../sass/style.scss */
#menu #qsn:hover {
  cursor: pointer;
}

/* line 547, ../sass/style.scss */
#container_menu {
  position: relative;
  display: flex;
  width: 95%;
  margin: 0 auto;
  height: 100px;
  background: #97bf0d;
  text-align: center;
  margin-top: 6px;
  border-bottom: 4px solid #718e08;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/****************************/
/*.arrow_box {
  display: none;
  position: relative;
  background: #97BF0D;
  border: 2px solid #718e08;
  @include border-radius(20px);
  width: 500px;
  min-height: 300px;
  height: auto;
  padding: 10px;
  z-index: 99999;
  margin-top: -104px;
  margin-left: 28px;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(151, 191, 96, 0);
  border-top-color: #718e08;
  border-width: 20px;
  margin-left: -20px;
}
.arrow_box:before {
  border-color: rgba(113, 142, 8, 0);
  border-top-color: #718e08;
  border-width: 26px;
  margin-left: -26px;
}

#close{
  position: absolute;
  width: 30px;
  height: 30px;
  top:5px;
  right:5px;
  @include border-radius(50%);
  background: #718E08;
  color: white;
  text-align: center;
  line-height: 30px;
}
#close:hover{
  cursor: pointer;
}
*/
/***** MAP ************/
/* line 616, ../sass/style.scss */
#map {
  width: 70%;
  height: 350px;
  float: left;
  margin-top: 30px;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 625, ../sass/style.scss */
#marker h2 {
  font-size: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #97bf0d;
}
/* line 626, ../sass/style.scss */
#marker p {
  font-size: 18px;
  color: #4f5d64;
}

/* line 629, ../sass/style.scss */
#header_where:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  left: 0;
  border-style: solid;
  border-width: 0 31px 26px 0;
  border-color: transparent #8BA807 transparent transparent;
}

/* line 632, ../sass/style.scss */
.cb {
  clear: both;
}

/* line 635, ../sass/style.scss */
#iteneraire {
  width: 320px;
  background-color: #fff;
  float: right;
  padding-top: 30px;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 20px;
  color: #97bf0d;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border-bottom: 4px solid #97bf0d;
}
/* line 647, ../sass/style.scss */
#iteneraire form {
  margin-top: 20px;
  padding: 10px;
}
/* line 650, ../sass/style.scss */
#iteneraire label {
  display: block;
  width: 150px;
  height: 20px;
  float: left;
  margin-bottom: 5px;
}
/* line 657, ../sass/style.scss */
#iteneraire input[type="text"] {
  width: 140px;
  height: 20px;
  color: #97bf0d;
  margin-bottom: 5px;
}
/* line 663, ../sass/style.scss */
#iteneraire input[type="button"] {
  padding: 5px;
  background: #97bf0d;
  color: white;
  border: none;
  font-size: 20px;
  margin-top: 10px;
}
/* line 671, ../sass/style.scss */
#iteneraire select {
  width: 120px;
}

/* line 676, ../sass/style.scss */
#panel {
  width: 700px;
  margin: auto;
  z-index: 100;
  background: white;
}

/* line 682, ../sass/style.scss */
#header_iteneraire {
  width: 320px;
  height: 60px;
  font-size: 44px;
  background: #97bf0d;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 5px 5px 20px 0px #4f5d64;
  -moz-box-shadow: 5px 5px 20px 0px #4f5d64;
  box-shadow: 5px 5px 20px 0px #4f5d64;
  color: white;
  line-height: 60px;
  margin-top: -51px;
  text-align: left;
}
/* line 693, ../sass/style.scss */
#header_iteneraire img {
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: -5px;
  margin-top: 5px;
}

/* line 700, ../sass/style.scss */
#where {
  width: 95.5%;
  height: 420px;
  padding: 10px 0 10px 10px;
  margin: 60px auto;
  background: #97bf0d;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border-bottom: 4px solid #718e08;
}

/* line 709, ../sass/style.scss */
#header_where {
  position: relative;
  position: absolute;
  width: 1260px;
  height: 40px;
  font-size: 30px;
  background: #97bf0d;
  color: white;
  margin-left: -31px;
  margin-top: -22px;
  line-height: 40px;
  z-index: 20;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0 10px 30px -2px #343434;
  -moz-box-shadow: 0 10px 30px -2px #343434;
  box-shadow: 0 10px 30px -2px #343434;
  margin-top: -20px;
  margin-left: -40px;
}
/* line 716, ../sass/style.scss */
#header_where img {
  vertical-align: -5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

/***** BOUTON D'APPEL *****/
/* line 725, ../sass/style.scss */
#block_appel {
  position: absolute;
  top: -140px;
  right: -54px;
  width: 300px;
  height: 150px;
  background: #4f5d64;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 735, ../sass/style.scss */
#block_appel p {
  text-align: center;
  color: white;
}
/* line 736, ../sass/style.scss */
#block_appel .punaise {
  margin: 0;
  margin-right: 10px;
}
/* line 738, ../sass/style.scss */
#block_appel #conseiller {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
}

/* line 746, ../sass/style.scss */
#block_appel:hover {
  border: 2px solid white;
  box-shadow: none;
  width: 302px;
  height: 152px;
}

/* line 752, ../sass/style.scss */
#header_where:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  right: 0;
  border-style: solid;
  border-width: 26px 31px 0 0;
  border-color: #8BA807 transparent transparent transparent;
}

/****************************/
/*******M MODAL BOX **************/
/* line 756, ../sass/style.scss */
#modalbox {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
/* line 766, ../sass/style.scss */
#modalbox #box {
  width: 700px;
  min-height: 270px;
  height: auto;
  background: #fff;
  margin: 1.5em auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
/* line 776, ../sass/style.scss */
#modalbox li {
  font-size: 15px;
  color: red;
  margin: 0;
  padding: 0;
}
/* line 782, ../sass/style.scss */
#modalbox .silhouette_small {
  width: 200px;
  height: 240px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
/* line 790, ../sass/style.scss */
#modalbox h3 {
  color: #97bf0d;
  font-size: 30px;
  text-align: center;
  margin: 0;
}
/* line 796, ../sass/style.scss */
#modalbox label {
  display: block;
  width: 296px;
  float: left;
  font-size: 25px;
}
/* line 802, ../sass/style.scss */
#modalbox input {
  display: inline-block;
  font-size: 25px;
}

/* line 804, ../sass/style.scss */
#modalbox:target {
  display: block;
}
/* line 807, ../sass/style.scss */
#modalbox:target html, #modalbox:target body {
  overflow: hidden;
}
/* line 810, ../sass/style.scss */
#modalbox:target #form-appel {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
}
/* line 815, ../sass/style.scss */
#modalbox:target .numero_label {
  font-size: 15px;
  font-style: italic;
}

/* line 821, ../sass/style.scss */
.btn-submit {
  float: right;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: #97bf0d;
  border-bottom: 4px solid #718e08;
  color: white;
  font-size: 25px;
  margin-right: -30px;
}

/* line 833, ../sass/style.scss */
.cross {
  position: absolute;
  top: 2px;
  right: 10px;
  background: #4f5d64;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
/* line 843, ../sass/style.scss */
.cross a {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

/* line 851, ../sass/style.scss */
.success {
  color: white;
  font-size: 20px;
  text-align: center;
  background: #6FB6A4;
  border-bottom: 4px solid #4f887a;
}

/*******MOINS 26 ANS *************/
/* line 860, ../sass/style.scss */
.bulle_categorie {
  width: 400px;
  height: 339px;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* line 867, ../sass/style.scss */
#block-contact {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: white;
  background: #EE7F00;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 875, ../sass/style.scss */
#back-categorie {
  width: 53.3em;
  display: block;
  height: 130px;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 17%;
  left: 25%;
}

/* line 886, ../sass/style.scss */
li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 894, ../sass/style.scss */
.li-former {
  background-color: #579ca1;
}

/* line 897, ../sass/style.scss */
.li-faire {
  background-color: #d40050;
}

/* line 900, ../sass/style.scss */
.li-quotidien {
  background-color: #ee7f00;
}

/* line 903, ../sass/style.scss */
.li-emploi {
  background-color: #97bf0d;
}

/* line 906, ../sass/style.scss */
.bulle_moins_26 {
  margin-left: 300px;
}

/* line 910, ../sass/style.scss */
.conseiller {
  display: block;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-top: 74px;
}

/* line 917, ../sass/style.scss */
.cancel-top-margin {
  margin-top: 20px;
}

/* line 921, ../sass/style.scss */
#block_emploi, #block_faire, #block_former, #block_quotidien {
  width: 250px;
  height: 200px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97bf0d), color-stop(50%, #97bf0d), color-stop(100%, #c1e53d));
  background-image: -webkit-linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  background-image: -moz-linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  background-image: -o-linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  background-image: linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
  transition: all 1s;
  position: relative;
}
/* line 932, ../sass/style.scss */
#block_emploi h1, #block_faire h1, #block_former h1, #block_quotidien h1 {
  font-size: 25px;
}
/* line 936, ../sass/style.scss */
#block_emploi img, #block_faire img, #block_former img, #block_quotidien img {
  width: 250px;
  height: 100px;
  margin-top: -25px;
}
/* line 941, ../sass/style.scss */
#block_emploi p, #block_faire p, #block_former p, #block_quotidien p {
  color: #FFF;
  font-size: 18px;
  margin: 0;
  padding: 10px;
}
/* line 947, ../sass/style.scss */
#block_emploi p:hover, #block_faire p:hover, #block_former p:hover, #block_quotidien p:hover {
  cursor: pointer;
}
/* line 951, ../sass/style.scss */
#block_emploi hr, #block_faire hr, #block_former hr, #block_quotidien hr {
  border: 1px dotted white;
  text-align: center;
  margin: 0;
}

/* line 960, ../sass/style.scss */
#block_emploi:hover {
  height: auto;
}
/* line 962, ../sass/style.scss */
#block_emploi:hover .item_emploi {
  visibility: visible;
  opacity: 1;
  transition-delay: .1s;
}

/* line 969, ../sass/style.scss */
#block_former:hover {
  height: auto;
}
/* line 970, ../sass/style.scss */
#block_former:hover .item_former {
  visibility: visible;
  opacity: 1;
  transition-delay: .1s;
}

/* line 977, ../sass/style.scss */
#block_faire:hover {
  height: auto;
}
/* line 978, ../sass/style.scss */
#block_faire:hover .item_faire {
  visibility: visible;
  opacity: 1;
  transition-delay: .1s;
}

/* line 985, ../sass/style.scss */
#block_quotidien:hover {
  height: auto;
}
/* line 986, ../sass/style.scss */
#block_quotidien:hover .item_quotidien {
  visibility: visible;
  opacity: 1;
  transition-delay: .1s;
}

/* line 993, ../sass/style.scss */
#wrapper-item {
  width: 90%;
  margin: 0 auto;
}

/* line 997, ../sass/style.scss */
#container_item {
  width: 1100px;
  height: 65vh;
  margin: 2em auto;
  margin-top: 20px;
  margin-bottom: 50px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 1005, ../sass/style.scss */
.background_container {
  background-image: url("../img/background.jpg");
}

/* line 1008, ../sass/style.scss */
.opacity {
  opacity: 0.5;
}

/* line 1012, ../sass/style.scss */
#bandeau_categorie, #bandeau_employeur, #bandeau_plus26 {
  width: 1111px;
  height: 50px;
  background-color: #F07D00;
  position: relative;
  margin-bottom: -20px;
  margin-left: -16px;
  line-height: 50px;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
/* line 1022, ../sass/style.scss */
#bandeau_categorie p, #bandeau_employeur p, #bandeau_plus26 p {
  font-size: 25px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

/* line 1029, ../sass/style.scss */
.bandeau_item {
  width: 1252px;
  height: 50px;
  background-color: #F07D00;
  position: relative;
  margin-left: -26px;
  line-height: 50px;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
/* line 1038, ../sass/style.scss */
.bandeau_item p {
  font-size: 25px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

/* line 1045, ../sass/style.scss */
.bandeau_item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 49px;
  right: -1px;
  border-style: solid;
  border-width: 26px 27px 0 0;
  border-color: #9b5000 transparent transparent transparent;
  z-index: 5;
}

/* line 1057, ../sass/style.scss */
.bandeau_item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 49px;
  left: -1px;
  border-style: solid;
  border-width: 0 27px 26px 0;
  border-color: transparent #9b5000 transparent transparent;
  z-index: 5;
}

/* line 1069, ../sass/style.scss */
#bandeau_employeur {
  background-color: #97bf0d;
}

/* line 1072, ../sass/style.scss */
#bandeau_plus26 {
  background: #579ca1;
}

/* line 1076, ../sass/style.scss */
#bandeau_categorie:after, #bandeau_employeur:after, #bandeau_plus26:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 49px;
  right: -1px;
  border-style: solid;
  border-width: 26px 27px 0 0;
  border-color: #9b5000 transparent transparent transparent;
  z-index: 5;
}

/* line 1088, ../sass/style.scss */
#bandeau_employeur:after {
  border-color: #759E1A transparent transparent transparent;
}

/* line 1091, ../sass/style.scss */
#bandeau_plus26:after {
  border-color: #35656A transparent transparent transparent;
}

/* line 1094, ../sass/style.scss */
#bandeau_categorie:before, #bandeau_employeur:before, #bandeau_plus26:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 49px;
  left: -1px;
  border-style: solid;
  border-width: 0 27px 26px 0;
  border-color: transparent #9b5000 transparent transparent;
  z-index: 5;
}
/* line 1105, ../sass/style.scss */
#bandeau_categorie:before h1, #bandeau_employeur:before h1, #bandeau_plus26:before h1 {
  color: #ffffff;
}

/* line 1109, ../sass/style.scss */
#bandeau_employeur:before {
  border-color: transparent #759E1A transparent transparent;
}

/* line 1112, ../sass/style.scss */
#bandeau_plus26:before {
  border-color: transparent #35656A transparent transparent;
}

/*********************************************/
/* line 1117, ../sass/style.scss */
.item {
  padding: 10px;
}

/* line 1121, ../sass/style.scss */
.item_emploi, .item_faire, .item_quotidien, .item_former {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.1s,opacity 0.1s linear;
}

/* line 1126, ../sass/style.scss */
.block_emploi_auto, .block_former_auto, .block_faire_auto, .block_quotidien_auto {
  width: 250px;
  height: auto;
  float: left;
  margin: 0 10px 0 10px;
  text-align: center;
  color: white;
  font-size: 18px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
/* line 1136, ../sass/style.scss */
.block_emploi_auto img, .block_former_auto img, .block_faire_auto img, .block_quotidien_auto img {
  width: 250px;
  height: 100px;
  margin-top: -25px;
}

/* line 1146, ../sass/style.scss */
.bandeau_bleu {
  background: #579ca1;
}

/* line 1149, ../sass/style.scss */
.bandeau_bleu:before {
  border-color: #325A65 transparent transparent transparent;
}

/* line 1152, ../sass/style.scss */
.bandeau_bleu:after {
  border-color: transparent #325A65 transparent transparent;
}

/* line 1155, ../sass/style.scss */
.bandeau_orange {
  background: #ee7f00;
}

/* line 1158, ../sass/style.scss */
.bandeau_orange:before {
  border-color: #9B5000 transparent transparent transparent;
}

/* line 1161, ../sass/style.scss */
.bandeau_orange:after {
  border-color: transparent #9B5000 transparent transparent;
}

/* line 1164, ../sass/style.scss */
.bandeau_vert {
  background: #97bf0d;
}

/* line 1167, ../sass/style.scss */
.bandeau_vert:before {
  border-color: #718E08 transparent transparent transparent;
}

/* line 1170, ../sass/style.scss */
.bandeau_vert:after {
  border-color: transparent #718E08 transparent transparent;
}

/* line 1173, ../sass/style.scss */
.bandeau_rose {
  background: #d40050;
}

/* line 1176, ../sass/style.scss */
.bandeau_rose:before {
  border-color: #652A2A transparent transparent transparent;
}

/* line 1179, ../sass/style.scss */
.bandeau_rose:after {
  border-color: transparent #652A2A transparent transparent;
}

/* line 1183, ../sass/style.scss */
.block_former_auto .item:hover:last-child, .block_quotidien_auto .item:hover:last-child, .block_faire_auto .item:hover:last-child, .block_emploi_auto .item:hover:last-child {
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}

/* line 1187, ../sass/style.scss */
#block_emploi, .block_emploi_auto {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97bf0d), color-stop(50%, #97bf0d), color-stop(100%, #c1e53d));
  background-image: -webkit-linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  background-image: -moz-linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  background-image: -o-linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  background-image: linear-gradient(#97bf0d, #97bf0d, #c1e53d);
  border-bottom: 4px solid #718e08;
}
/* line 1190, ../sass/style.scss */
#block_emploi p:hover, .block_emploi_auto p:hover {
  background-color: #759e1a;
  cursor: pointer;
}

/* line 1195, ../sass/style.scss */
#block_former, .block_former_auto {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #579ca1), color-stop(50%, #579ca1), color-stop(100%, #6bbbc6));
  background-image: -webkit-linear-gradient(#579ca1, #579ca1, #6bbbc6);
  background-image: -moz-linear-gradient(#579ca1, #579ca1, #6bbbc6);
  background-image: -o-linear-gradient(#579ca1, #579ca1, #6bbbc6);
  background-image: linear-gradient(#579ca1, #579ca1, #6bbbc6);
  border-bottom: 4px solid #325a65;
}
/* line 1198, ../sass/style.scss */
#block_former p:hover, .block_former_auto p:hover {
  background-color: #30a8a6;
  cursor: pointer;
}

/* line 1205, ../sass/style.scss */
#block_faire, .block_faire_auto {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d40050), color-stop(50%, #d40050), color-stop(100%, #c14b72));
  background-image: -webkit-linear-gradient(#d40050, #d40050, #c14b72);
  background-image: -moz-linear-gradient(#d40050, #d40050, #c14b72);
  background-image: -o-linear-gradient(#d40050, #d40050, #c14b72);
  background-image: linear-gradient(#d40050, #d40050, #c14b72);
  border-bottom: 4px solid #652a2a;
}
/* line 1209, ../sass/style.scss */
#block_faire p:hover, .block_faire_auto p:hover {
  background-color: #d14976;
}

/* line 1214, ../sass/style.scss */
#block_quotidien, .block_quotidien_auto {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee7f00), color-stop(50%, #ee7f00), color-stop(100%, #f08f3d));
  background-image: -webkit-linear-gradient(#ee7f00, #ee7f00, #f08f3d);
  background-image: -moz-linear-gradient(#ee7f00, #ee7f00, #f08f3d);
  background-image: -o-linear-gradient(#ee7f00, #ee7f00, #f08f3d);
  background-image: linear-gradient(#ee7f00, #ee7f00, #f08f3d);
  border-bottom: 4px solid #652b1c;
  z-index: 20;
}
/* line 1218, ../sass/style.scss */
#block_quotidien p:hover, .block_quotidien_auto p:hover {
  background-color: #fca350;
}

/* line 1225, ../sass/style.scss */
#bandeau_perso {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 1232, ../sass/style.scss */
#wrapper-categorie {
  width: 1200px;
  min-height: 80vh;
  height: auto;
  margin: 20px auto;
  margin-bottom: 50px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 1240, ../sass/style.scss */
#wrapper-categorie hr {
  margin: 0;
}

/*
** PAGE MOINS 26 n+2 ELEMENT A DROITE
*/
/* line 1247, ../sass/style.scss */
.item_right {
  position: relative;
  color: black;
  width: 60%;
  min-height: 30em;
  height: auto;
  float: left;
  background-color: #ffffff;
  margin: 2em 0 2em 5em;
  padding: 10px;
  padding-bottom: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 1260, ../sass/style.scss */
.item_right h2 {
  margin: 0;
  margin-left: 10px;
}
/* line 1264, ../sass/style.scss */
.item_right ul {
  margin: 0;
  padding: 0;
}
/* line 1268, ../sass/style.scss */
.item_right li {
  font-size: 25px;
}
/* line 1271, ../sass/style.scss */
.item_right li:before {
  content: "- ";
}
/* line 1274, ../sass/style.scss */
.item_right p {
  margin: 10px;
}

/* line 1279, ../sass/style.scss */
.bandeau_sous_item {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 4%;
}

/* line 1287, ../sass/style.scss */
.border-emploi {
  border: 3px solid #97bf0d;
}

/* line 1290, ../sass/style.scss */
.border-faire {
  border: 3px solid #d40050;
}

/* line 1293, ../sass/style.scss */
.border-former {
  border: 3px solid #579ca1;
}

/* line 1296, ../sass/style.scss */
.border-quotidien {
  border: 3px solid #ee7f00;
}

/* line 1302, ../sass/style.scss */
.button {
  width: 300px;
  font-size: 20px;
  color: white;
  background-color: #c1e53d;
  border: 1px solid white;
  margin-left: 50px;
  margin-top: -50px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 1313, ../sass/style.scss */
.button:hover {
  color: #c1e53d;
  background-color: white;
  cursor: pointer;
}

/******************************************/
/********PAGE EMPLOYEUR*******************/
/* line 1321, ../sass/style.scss */
#liste_employeur {
  display: block;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
/* line 1326, ../sass/style.scss */
#liste_employeur li {
  list-style: none;
  display: inline-block;
  background-color: #94C11F;
  padding: 10px;
  font-size: 25px;
  color: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-right: 10px;
  width: 300px;
  height: 500px;
  text-align: center;
}
/* line 1338, ../sass/style.scss */
#liste_employeur li h1 {
  font-size: 30px;
}
/* line 1343, ../sass/style.scss */
#liste_employeur li:hover {
  cursor: pointer;
}

/* line 1348, ../sass/style.scss */
#all_articles {
  font-size: 20px;
  text-decoration: underline;
  float: right;
  margin-top: -4px;
  margin-right: 5px;
}
/* line 1355, ../sass/style.scss */
#all_articles a {
  color: white;
}

/*****************************************/
/*********FIL D'ARIANNE***********/
/* line 1364, ../sass/style.scss */
.arianne {
  color: white;
  display: inline-block;
  width: auto;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  margin-top: 10px;
  background: #97bf0d;
  border-bottom: 4px solid #718e08;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
}
/* line 1376, ../sass/style.scss */
.arianne p {
  margin: 0;
}
/* line 1379, ../sass/style.scss */
.arianne a {
  color: #ffffff;
}
/* line 1382, ../sass/style.scss */
.arianne a:hover {
  text-decoration: underline;
}

/* line 1386, ../sass/style.scss */
#documentation {
  width: 80%;
  margin: 50px auto;
  background: #97bf0d;
  border-bottom: 4px solid #718e08;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
}

/* line 1394, ../sass/style.scss */
#entreprise {
  display: none;
}

/**********************************/
/* line 1398, ../sass/style.scss */
footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 28px;
}

@media only screen and (max-width: 1440px) {
  /* line 1405, ../sass/style.scss */
  #header {
    width: 1380px;
  }

  /* line 1408, ../sass/style.scss */
  .small-header {
    width: 1380px;
  }
}
/*
*** MEDIA QUERIES ******
*/
@media only screen and (max-width: 1366px) {
  /* line 1417, ../sass/style.scss */
  #header {
    width: 1306px;
  }

  /* line 1420, ../sass/style.scss */
  .small-header {
    width: 1306px;
  }
}
@media only screen and (max-width: 1280px) {
  /* line 1425, ../sass/style.scss */
  #header {
    width: 1246px;
  }

  /* line 1428, ../sass/style.scss */
  .small-header {
    width: 1246px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 1433, ../sass/style.scss */
  #header {
    width: 964px;
    height: 330px;
  }
  /* line 1437, ../sass/style.scss */
  #header #bulles {
    margin-left: 26%;
  }
  /* line 1439, ../sass/style.scss */
  #header #bulles img {
    width: 220px;
  }

  /* line 1444, ../sass/style.scss */
  #container {
    width: 986px;
  }

  /* line 1447, ../sass/style.scss */
  #wrapper-top {
    width: 70%;
  }

  /* line 1450, ../sass/style.scss */
  #actu {
    width: 90%;
    float: none;
    margin-bottom: 50px;
  }
  /* line 1454, ../sass/style.scss */
  #actu #header_actu {
    width: 652px;
  }

  /* line 1458, ../sass/style.scss */
  #offre {
    width: 90%;
    float: none;
  }
  /* line 1462, ../sass/style.scss */
  #offre #header_offre {
    width: 652px;
  }

  /* line 1466, ../sass/style.scss */
  #silhouette {
    width: 800px;
    margin-left: -400px;
  }

  /* line 1470, ../sass/style.scss */
  #slogan {
    width: 95%;
    margin: 0 auto;
    margin-top: 360px;
  }

  /* line 1475, ../sass/style.scss */
  #where {
    width: 65.5%;
    height: auto;
    text-align: center;
  }
  /* line 1479, ../sass/style.scss */
  #where #header_where {
    width: 705px;
  }
  /* line 1482, ../sass/style.scss */
  #where #map, #where #iteneraire, #where #btn_antennes {
    float: none;
  }
  /* line 1485, ../sass/style.scss */
  #where #map {
    width: 97%;
  }

  /* line 1489, ../sass/style.scss */
  #btn_anntennes {
    width: 225px;
    height: 120px;
  }

  /* line 1493, ../sass/style.scss */
  #container_menu {
    width: 93%;
  }
  /* line 1495, ../sass/style.scss */
  #container_menu #menu {
    width: 100%;
  }
  /* line 1497, ../sass/style.scss */
  #container_menu #menu li {
    width: 300px;
    padding: 5px;
  }

  /* line 1504, ../sass/style.scss */
  #bandeau_categorie {
    width: 105.8%;
  }

  /* line 1507, ../sass/style.scss */
  #wrapper-item {
    width: 900px;
  }

  /* line 1510, ../sass/style.scss */
  #block_emploi, #block_former, #block_faire, #block_quotidien {
    width: 204px;
  }
  /* line 1512, ../sass/style.scss */
  #block_emploi h1, #block_former h1, #block_faire h1, #block_quotidien h1 {
    font-size: 20px;
  }
  /* line 1515, ../sass/style.scss */
  #block_emploi .conseiller, #block_former .conseiller, #block_faire .conseiller, #block_quotidien .conseiller {
    font-size: 20px;
  }
}
/* line 1520, ../sass/style.scss */
.flash-info, .flash-notice, .flash-error {
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 21px;
  font-size: 26px;
  text-align: center;
  background: #6FB6A4;
  padding: 10px;
  border-bottom: 4px solid #4f887a;
}

/* line 1531, ../sass/style.scss */
.flash-error {
  background: #FF6649;
  border-bottom: 4px solid #ba5a3e;
}
