/* line 32, ../sass/style_admin.scss */
input {
  font-size: 20px;
  padding: 10px;
  width: 60%;
}

/* line 38, ../sass/style_admin.scss */
input[type="radio"] {
  width: auto;
}

/* line 41, ../sass/style_admin.scss */
label {
  font-size: 25px;
  color: #97bf0d;
}

/* line 45, ../sass/style_admin.scss */
body {
  margin: 0;
  padding: 0;
  background: #D9D9D9;
  font-family: "Calibri", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 51, ../sass/style_admin.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 55, ../sass/style_admin.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 59, ../sass/style_admin.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 63, ../sass/style_admin.scss */
#container_logo {
  margin-left: 10px;
}
/* line 65, ../sass/style_admin.scss */
#container_logo img {
  max-height: 400px;
  max-width: 300px;
  margin-left: -25px;
  margin-top: -30px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  /*@include ombre_portée();*/
}

/* line 74, ../sass/style_admin.scss */
.arianne {
  color: white;
  display: inline-block;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  margin-top: 10px;
  background: #97bf0d;
  border-bottom: 4px solid #718e08;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -ms-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
}
/* line 85, ../sass/style_admin.scss */
.arianne p {
  margin: 0;
}
/* line 88, ../sass/style_admin.scss */
.arianne a {
  color: #ffffff;
}
/* line 91, ../sass/style_admin.scss */
.arianne a:hover {
  text-decoration: underline;
}
/* line 94, ../sass/style_admin.scss */
.arianne li {
  border: none;
  display: inline-block;
}

/* line 99, ../sass/style_admin.scss */
#wrapper-admin {
  width: 1000px;
  min-height: 400px;
  height: auto;
  margin-top: 100px;
  background: white;
  position: relative;
  padding-bottom: 50px;
  margin-left: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 4px solid #718e08;
}

/* line 112, ../sass/style_admin.scss */
#wrapper-home {
  width: 1100px;
  height: 600px;
  position: relative;
  margin-left: 400px;
  background: #ffffff;
  margin-top: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 4px solid #718e08;
}

/* line 122, ../sass/style_admin.scss */
#wrapper-category {
  width: 384px;
  margin: 1em auto;
}

/*
* ESPACE DE CONNEXION
*/
/* line 131, ../sass/style_admin.scss */
#connexion {
  width: 500px;
  min-height: 210px;
  height: auto;
  background: #545657;
  margin: 5em auto;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 4px solid #37393a;
}
/* line 141, ../sass/style_admin.scss */
#connexion form {
  width: 300px;
  margin: 10px auto;
}
/* line 145, ../sass/style_admin.scss */
#connexion form input[type="text"], #connexion form input[type="password"] {
  width: 100%;
  padding: 0;
}
/* line 150, ../sass/style_admin.scss */
#connexion label {
  display: block;
  width: 200px;
  float: left;
  font-weight: bold;
}

/* line 157, ../sass/style_admin.scss */
.btn-submit {
  float: right;
  margin: 5px;
  border: none;
  background: #37393A;
  color: white;
  padding: 5px;
}

/* line 165, ../sass/style_admin.scss */
.btn_logout {
  position: absolute;
  top: 50px;
  right: 20px;
}

/* line 170, ../sass/style_admin.scss */
.header {
  text-align: center;
  width: 100%;
  height: 40px;
  font-size: 30px;
  background: #97bf0d;
  color: white;
  z-index: 20;
}

/************************/
/*
** HOMEPAGE ADMIN
/*/
/* line 181, ../sass/style_admin.scss */
#container-category {
  width: 384px;
  margin: 1em auto;
}

/* line 186, ../sass/style_admin.scss */
.category {
  width: 128px;
  float: left;
  text-align: center;
}

/* line 191, ../sass/style_admin.scss */
.category:hover {
  background: #4f5d64;
  color: white;
  cursor: pointer;
}

/* line 196, ../sass/style_admin.scss */
.cb {
  clear: both;
}

/* line 199, ../sass/style_admin.scss */
hr {
  border: 2px solid #545657;
  margin-bottom: 20px;
}

/* line 203, ../sass/style_admin.scss */
#container_btn_admin {
  display: block;
  margin: 0 auto;
  width: 404px;
}
/* line 208, ../sass/style_admin.scss */
#container_btn_admin button {
  color: #545657;
  width: 200px;
  font-size: 20px;
  border: none;
  border-bottom: 4px solid #37393A;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 220, ../sass/style_admin.scss */
#container_btn_admin button:hover {
  cursor: pointer;
}

/*
* PAGE MOINS 26 ANS
*/
/* line 227, ../sass/style_admin.scss */
#container-data {
  width: 90%;
  margin: 30px auto;
}

/* line 231, ../sass/style_admin.scss */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
  margin: 0 auto;
  margin-top: 20px;
  color: #4f5d64;
  font-size: 20px;
}
/* line 239, ../sass/style_admin.scss */
table td {
  text-align: center;
  padding: 10px;
  width: 600px;
  border-bottom: 1px solid #FFF;
  background-color: #e5e5e5;
  border-bottom: 2px solid silver;
}
/* line 247, ../sass/style_admin.scss */
table td a:hover {
  color: #97bf0d;
  text-decoration: underline;
  cursor: pointer;
}
/* line 253, ../sass/style_admin.scss */
table th {
  padding: 10px;
  color: #FFF;
  background: #97bf0d;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 25px;
  border-bottom: 4px solid #718e08;
}

/* line 263, ../sass/style_admin.scss */
.seperate {
  border: 2px solid #ffffff;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

/* line 270, ../sass/style_admin.scss */
#handler-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  color: white;
  background: #3D3E43;
}
/* line 278, ../sass/style_admin.scss */
#handler-left a {
  color: white;
}

/* line 282, ../sass/style_admin.scss */
#handler-left h1 {
  margin: 10px;
  text-align: center;
}

/* line 286, ../sass/style_admin.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 290, ../sass/style_admin.scss */
.item_menu {
  width: 100%;
  list-style: none;
  padding: 10px 0 10px 0;
  font-size: 20px;
}
/* line 296, ../sass/style_admin.scss */
.item_menu img {
  vertical-align: middle;
  margin: 0 5px 0 5px;
}

/* line 301, ../sass/style_admin.scss */
.item_menu:hover {
  background: #292A2F;
  cursor: pointer;
}

/* line 305, ../sass/style_admin.scss */
ul .item_menu:first-child {
  border-top: 1px solid white;
}

/* line 308, ../sass/style_admin.scss */
#informations_site {
  width: 80%;
  height: 150px;
  background: #d9d9d9;
  margin: 20px auto;
  margin-bottom: 30px;
  border-bottom: 4px solid #8d8f92;
}

/* line 317, ../sass/style_admin.scss */
#mid-wrapper {
  width: 80%;
  height: 100px;
  margin: 0 auto;
}

/* line 322, ../sass/style_admin.scss */
#user_infos {
  width: 40%;
  min-height: 100px;
  height: auto;
  float: left;
  background: #d9d9d9;
  padding: 10px;
  border-bottom: 4px solid #8d8f92;
}

/* line 331, ../sass/style_admin.scss */
#systeme {
  width: 40%;
  height: 100px;
  float: right;
  background: #d9d9d9;
  padding: 10px;
  border-bottom: 4px solid #8d8f92;
}

/* line 339, ../sass/style_admin.scss */
#container_btn {
  width: 679px;
  margin: 3em auto;
}

/* line 346, ../sass/style_admin.scss */
input[type="submit"], button {
  width: auto;
  height: auto;
  padding: 5px;
  background: #97bf0d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 22px;
  color: white;
  text-align: center;
  border: none;
  margin: 10px;
}
/* line 358, ../sass/style_admin.scss */
input[type="submit"] img, button img {
  vertical-align: middle;
}

/* line 363, ../sass/style_admin.scss */
.add_element img {
  margin-right: 10px;
}

/* line 367, ../sass/style_admin.scss */
input[type="submit"]:hover, button:hover {
  cursor: pointer;
}

/* line 370, ../sass/style_admin.scss */
.btn_moins26, .btn_employeur, .btn_plus26 {
  padding: 30px;
}

/* line 373, ../sass/style_admin.scss */
.btn_moins26 {
  background: #ee7f00;
  border-bottom: 4px solid #8f4800;
}

/* line 377, ../sass/style_admin.scss */
.btn_moins26:active {
  border-bottom-width: 2px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

/* line 381, ../sass/style_admin.scss */
.btn_employeur {
  background: #97bf0d;
  border-bottom: 4px solid #566907;
}

/* line 385, ../sass/style_admin.scss */
.btn_employeur:active {
  border-bottom-width: 2px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

/* line 389, ../sass/style_admin.scss */
.btn_plus26 {
  background: #579ca1;
  border-bottom: 4px solid #294a4c;
}

/* line 393, ../sass/style_admin.scss */
.btn_plus26:active {
  border-bottom-width: 2px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

/***** MODULES ******/
/* line 398, ../sass/style_admin.scss */
#container_module {
  width: 80%;
  margin: 0 auto;
}
/* line 401, ../sass/style_admin.scss */
#container_module .block_module {
  width: 200px;
  min-height: 100px;
  height: auto;
  font-size: 21px;
  color: white;
  text-align: center;
  float: left;
  margin: 10px;
  background: #97bf0d;
  border-bottom: 4px solid #718e08;
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 415, ../sass/style_admin.scss */
#container_module .block_module:hover {
  cursor: pointer;
}

/* line 419, ../sass/style_admin.scss */
.form-filtrer {
  float: right;
}

/* line 422, ../sass/style_admin.scss */
.btn_ok {
  display: inline;
}

/********************/
/* line 426, ../sass/style_admin.scss */
.update_data {
  margin: 10px;
  border: 1px solid #cccccc;
  padding: 10px;
}

/* line 431, ../sass/style_admin.scss */
.flash-info, .flash-notice, .flash-error, .flash-success {
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 21px;
  font-size: 26px;
  text-align: center;
  background: #6FB6A4;
  padding: 10px;
  border-bottom: 4px solid #4f887a;
}

/* line 443, ../sass/style_admin.scss */
.flash-error {
  background: #FF6649;
  border-bottom: 4px solid #ba5a3e;
}

/* line 447, ../sass/style_admin.scss */
.dateActu {
  display: none;
}

/* line 450, ../sass/style_admin.scss */
#info-publi {
  color: #97bf0d;
  font-weight: bold;
}

/* line 454, ../sass/style_admin.scss */
#list-media {
  color: #97bf0d;
  font-size: 30px;
}
/* line 457, ../sass/style_admin.scss */
#list-media a {
  color: #97bf0d;
}
/* line 460, ../sass/style_admin.scss */
#list-media li {
  width: 50%;
  border-bottom: 1px solid #97bf0d;
  border-right: 1px solid #97bf0d;
}
