<!-- MENU -->
<div id="container_menu">
    <ul id="menu">
        <li class="item_menu"><a href="#">Agenda</a></li>
        <li class="item_menu"><a href="#">Centres Ressources</a></li>
        <li class="item_menu"><a href="#">Documentation</a></li>
        <li class="item_menu"><a href="#">Qui sommes nous ?</a></li>
    </ul>
</div>
<div id="outdated"> <h6>Votre navigateur est désuet!</h6>
    <p>Mettez à jour votre navigateur pour afficher correctement ce site Web. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/fr">Mettre à jour maintenant </a></p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Fermer">&times;</a></p>
</div>