@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/box-shadow";

$background: #4f5d64;
$color_pliage : #8BA807;
$color_header: #97bf0d;
$vert_clair: rgb(151,191,13);
$header_div: #92ae08;
$rose: rgb(212,0,80);
$orange: rgb(238,127,0);
$bleu: rgb(87,156,161);
$font-family: "Calibri","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@mixin header_div()
{
  width: 100%;
  height: 40px;
  font-size: 30px;
  background: $vert_clair;
  color: white;
  z-index: 20;
}
@mixin ombre_portée()
{
  @include box-shadow(5px 5px 20px 0px #4f5d64);
}
@mixin bordure_bas($color: #718e08)
{
  border-bottom: 4px solid $color;
}
body{
  margin: 0;
  padding: 0;
  background: #D9D9D9;
  font-family: $font-family;
}
p{
  margin: 0;
  padding: 0;
}
a{
  color: black;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
#container_logo{
  margin-left: 10px;
  img{
    max-height: 400px;
    max-width: 300px;
    margin-left: -25px;
    margin-top:-30px;
    @include rotate(-10deg);
    /*@include ombre_portée();*/
  }
}
.arianne{
  color: white;
  display: inline-block;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  padding:10px;
  margin-top: 10px;
  background: #97bf0d;
  border-bottom: 4px solid #718e08;
  @include border-radius(20px 20px 20px 20px);
  p{
    margin: 0;
  }
  a{
    color: #ffffff;
  }
  a:hover{
    text-decoration: underline;
  }
  li{
    border: none;
    display: inline-block;
  }
}
#wrapper-admin{
  width: 1000px;
  min-height: 400px;
  height: auto;
  margin-top: 100px;
  background: white;
  position: relative;
  padding-bottom: 50px;
  margin-left: 400px;
  @include border-radius(5px);
  @include bordure_bas();

}
#wrapper-home{
  width: 1100px;
  height: 600px;
  position: relative;
  margin-left: 400px;
  background: #ffffff;
  margin-top: 100px;
  @include border-radius(5px);
  @include bordure_bas();
}
#wrapper-category{
  width: 384px;
  margin: 1em auto;

}
/*
* ESPACE DE CONNEXION
*/

#connexion{
  width: 500px;
  height: 200px;
  background: #545657;
  margin: 0 auto;
  padding-bottom: 10px;
  color: white;
  @include border-radius(5px);
  @include bordure_bas(#37393A);
  input{
    font-size: 20px;
  }
  form{
    width: 280px;
    margin: 10px auto;
  }
  label{
    display: block;
    width: 200px;
    float:left;
    font-weight: bold;
  }
}
.btn-submit{
  float: right;
  margin: 5px;
  border: none;
  background: #37393A;
  color: white;
  padding: 5px;
}
.btn_logout{
  position: absolute;
  top:50px;
  right: 20px;
}
.header{
  text-align: center;
  @include header_div();

}

/************************/

/*
** HOMEPAGE ADMIN
/*/
#container-category{
  width: 384px;
  margin: 1em auto;

}
.category{
  width: 128px;
  float: left;
  text-align: center;
}
.category:hover{
  background: #4f5d64;
  color: white;
  cursor: pointer;
}
.cb{
  clear: both;
}
hr{
  border: 4px solid #545657;
  margin-bottom: 20px;
}
#container_btn_admin{
  display: block;
  margin: 0 auto;
  width: 404px;

  button{
    color: #545657;
    width: 200px;
    font-size: 20px;
    border:none;
    border-bottom: 4px solid #37393A;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
  }
  button:hover{
    cursor: pointer;
  }
}
/*
* PAGE MOINS 26 ANS
*/
#container-data{
  width: 90%;
 margin: 50px auto;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
  margin: 0 auto;
  margin-top: 20px;
  color: $background;
  font-size: 20px;
  td {
    text-align: center;
    padding: 10px;
    width: 600px;
    border-bottom: 1px solid #FFF;
    background-color: #e5e5e5;
    border-bottom: 2px solid silver;
  }
  td a:hover{
    color: $vert_clair;
    text-decoration: underline;
    cursor: pointer;
  }

  th{
    padding: 10px;
    color: #FFF;
    background: $vert_clair;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 25px;
    @include bordure_bas();
  }
}
.seperate {
  border: 2px solid #ffffff;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

#handler-left{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  color: white;
  background: #3D3E43;
  a{
    color: white;
  }
}
#handler-left h1{
  margin: 10px;
  text-align: center;
}
ul{
  margin: 0;
  padding: 0;
}
.item_menu{
  width: 100%;
  list-style: none;
  padding: 10px 0 10px 0;
  font-size: 20px;

  img{
    vertical-align: middle;
    margin-right: 5px;
  }
}
.item_menu:hover{
  background: #292A2F;
  cursor: pointer;
}
ul .item_menu:first-child{
  border-top: 1px solid white;
}
#informations_site{
  width: 80%;
  height: 150px;
  background: #d9d9d9;
  margin: 20px auto;
  margin-bottom: 30px;
  @include bordure_bas(#8d8f92);

}
#mid-wrapper{
  width: 80%;
  height: 100px;
  margin: 0 auto;
}
#user_infos{
  width: 40%;
  min-height: 100px;
  height: auto;
  float: left;
  background: #d9d9d9;
  padding: 10px;
  @include bordure_bas(#8d8f92);
}
#systeme{
  width: 40%;
  height: 100px;
  float: right;
  background: #d9d9d9;
  padding: 10px;
  @include bordure_bas(#8d8f92);
}
#container_btn{
  width: 559px;

  margin: 3em auto;
}

input[type="submit"], button
{
  width: auto;
  height: auto;
  padding: 5px;
  background: $vert_clair;
  @include border-radius(5px);
  font-size: 22px;
  color: white;
  text-align: center;
  border: none;
  margin: 10px;
}
input[type="submit"]:hover, button:hover{
  cursor: pointer;
}
.btn_moins26{
  padding: 10px;
  background: $orange;
  @include bordure_bas(#8F4800);
}
.btn_employeur{
  padding: 10px;
background: $vert_clair;
  @include bordure_bas(#566907);
}
.btn_plus26{
  padding: 10px;
  background: $bleu;
  @include bordure_bas(#294A4C);
}
/***** MODULES ******/
#container_module{
  width: 80%;
  margin: 0 auto;
  .block_module{
    width: 200px;
    height: 100px;
    font-size: 21px;
    color: white;
    text-align: center;
    float: left;
    margin-right: 10px;
    background: $vert_clair;
    @include bordure_bas();
    padding: 10px;
    @include border-radius(20px);
  }
  .block_module:hover{
    cursor: pointer;
  }
}
.form-filtrer{
  float: right;
}
.btn_ok{
  display: inline;
}
/********************/

.flash-info, .flash-notice{
  color: white;
  font-size: 20px;
  text-align: center;
  background: #6FB6A4;
  @include bordure_bas(#4F887A);
}