@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/box-shadow";

$background: #4f5d64;
$color_pliage : #8BA807;
$color_header: #97bf0d;
$vert_clair: rgb(151,191,13);
$header_div: #92ae08;
$rose: rgb(212,0,80);
$orange: rgb(238,127,0);
$bleu: rgb(87,156,161);
$font-family: "Calibri","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@mixin header_div()
{
  width: 100%;
  height: 40px;
  font-size: 30px;
  background: #545657;
  color: white;
  z-index: 20;
}
@mixin ombre_portée()
{
  @include box-shadow(5px 5px 20px 0px #4f5d64);
}
@mixin bordure_bas()
{
  border-bottom: 4px solid #718e08;
}
body{
  margin: 0;
  padding: 0;
  background: $vert_clair;
  font-family: $font-family;
}
p{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
#container_logo{
  img{
    max-height: 400px;
    max-width: 300px;
    margin-left: -25px;
    margin-top:-30px;
    @include rotate(-10deg);
    @include ombre_portée();
  }
}

#wrapper-admin{
  width: 800px;
  min-height: 400px;
  height: auto;
  margin: -4em auto;
  background: white;
  position: relative;
  padding-bottom: 50px;
  @include border-radius(20px);
  border-bottom: 4px solid #37393A;
}
/*
* ESPACE DE CONNEXION
*/

#connexion{
  width: 500px;
  height: 200px;
  background: #ffffff;
  margin: 0 auto;
  padding: 10px;
  input{
    font-size: 20px;
  }
  form{
    width: 280px;
    margin: 10px auto;
  }
  label{
    display: block;
    width: 200px;
    float:left;
    font-weight: bold;
  }
}
.btn-submit{
  float: right;
  margin: 5px;
  border: none;
  background: #545657;
  color: white;
  padding: 5px;
}
.btn_logout{
  position: absolute;
  top:50px;
  right: 20px;
}
.header{
  text-align: center;
  @include header_div();
}

/************************/

/*
** HOMEPAGE ADMIN
/*/
#container-category{
  width: 384px;
  margin: 1em auto;

}
.category{
  width: 128px;
  float: left;
  text-align: center;
}
.category:hover{
  background: #4f5d64;
  color: white;
  cursor: pointer;
}
.cb{
  clear: both;
}
hr{
  border: 4px solid #545657;
  margin-bottom: 20px;
}
#container_btn_admin{
  display: block;
  margin: 0 auto;
  width: 404px;

  button{
    color: #545657;
    width: 200px;
    font-size: 20px;
    border:none;
    border-bottom: 4px solid #37393A;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
  }
  button:hover{
    cursor: pointer;
  }
}
