@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/box-shadow";

*{  box-sizing: border-box;  }
p{  margin:0;  padding: 0;  }
h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0;}
@mixin pliage()
{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top:40px;
  left: 0;
  border-style: solid;
  border-width: 0 31px 26px 0;
  border-color: transparent #8BA807 transparent transparent;
}
@mixin pliage_droite()
{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top:40px;
  right: 0;
  border-style: solid;
  border-width: 26px 31px 0 0;
  border-color: #8BA807 transparent transparent transparent;
}
@mixin header_div($width)
{
  position:absolute;
  width: $width;
  height: 40px;
  font-size: 30px;
  background: $vert_clair;
  color: white;
  margin-left: -31px;
  margin-top: -22px;
  line-height: 40px;
  z-index: 20;
}

@mixin ombre_portée()
{
  @include box-shadow(5px 5px 20px 0px #4f5d64);
}
@mixin bordure_bas($color:#718e08)
{
  border-bottom: 4px solid $color;
}
$background: #4f5d64;
$color_pliage : #8BA807;
$color_header: #97bf0d;
$vert_clair: rgb(151,191,13);
$header_div: #92ae08;
$rose: rgb(212,0,80);
$orange: rgb(238,127,0);
$bleu: rgb(87,156,161);
$font-family: "Calibri","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/******REGLES RESET***********/
#slides{
  display:none;
}
img{  border: none;  }
a{  text-decoration: none;  color: $vert_clair;  }

h1{
  margin: 0;
  padding: 0;
  font-size: 44px;
  font-family: $font-family;
  color: white;
}
body{
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: $font-family;
  background-color: #C1E53D;
}
/*********************************/

/*
*****CONTAINER PRINCIPAL********
*/
#container{
  width: 1260px;
  min-height: 1040px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 45px;
  padding-top: 10px;
  position: relative;
}
/*********************************/

/*
*****HEADER********
*/
#header{
  position: relative;
  width: 1600px;
  height: 430px;
  margin: 0  auto;
  background: url('../img/background.jpg');
  border-radius: 0 0 20px 20px;
  h1{
    font-size: 44px;
    color: #FFF;
    font-family: $font-family;
  }
  #bulles{
    width: 951px;
    margin-left: 22%;
    padding: 10px;
    background-position: bottom;
    background-repeat: no-repeat;
    @include border-bottom-radius(50px);

    img{  float: left; margin-right: 10px;  }
  }
}

#silhouette{
  display: block;
  width: 1200px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -600px;
}

#container_logo{
  float: left;
  img{
    max-height: 400px;
    max-width: 300px;
    margin-left: -25px;
    margin-top:-30px;
    @include rotate(-10deg);
    @include ombre_portée();
  }
}

//Header des pages n+1
.small-header{
  width: 1500px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  background: url('../img/background.jpg');
  border-radius: 0 0 20px 20px;
}
/********************************/

/****** FACEBOOK ***************/
#facebook{
  position: absolute;
  left: 15px;
  top:153px;
  width: 200px;
  height: 40px;
  background-color: #3B5998;
  color: #FFF;
  @include border-radius(0 0 10px 10px);
  @include ombre_portée();
  @include rotate(-10deg);
  img{
    float: left;
    width: 32px;
    height: 32px;
    margin: 5px 5px 10px 10px;
  }
}
/***************************/

/***** WRAPPER CONTENANT L'ACTU ET LES OFFRE *****/
#wrapper-top{  width: 95.5%; height: 350px; margin: 40px auto }
/****************************************/

/********* ACTUALITE *********/
#actu{
  width: 49%;
  height: 318px;
  float: left;
  background: #ffffff;
  @include border-radius(20px);
  @include ombre_portée();
  margin-right: 50px;
  .slidesjs-previous{
    margin-left: 20px;
  }
  a{
    margin-right: 10px;
    color: $vert_clair
  }
}

#header_actu{
  @include header_div(620px);
  @include box-shadow(0 10px 30px -2px #343434);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  @include border-radius(20px 0 0 0 );
  img{
    vertical-align: -5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

}
#header_actu:before{  @include pliage();  }

#offre{
  width: 46%;
  height: 318px;
  background: white;
  float: left;
  @include border-radius(0 0 20px 20px);
  @include ombre_portée();
  table{
    width: 540px;
    border-collapse: separate;
    border-spacing: 0px 5px;
    margin: 0 auto;
    margin-top: 20px;
    color: $background;

    td{
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #FFF;
      background-color: #e5e5e5;
      border-bottom: 2px solid silver;
    }
    tr:last-child td:first-child{
      @include border-radius(0 0 0 20px);
    }
    tr:last-child td:last-child{
      @include border-radius(0 0 20px 0);
    }

    th{
      padding: 10px;
      color: #FFF;
      background: $vert_clair;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }
  }
}
#article{
  position: relative;
  width: 80%;
  margin: 50px auto;
  margin-bottom: 100px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  @include border-radius(0 0 10px 10px);
  background: #f5f5f5;
  padding-bottom: 30px;


  h1, #contenu{
    margin: 10px;
  }
  .title-actu{
    background:#97BF0D;
    padding: 5px;
    @include bordure_bas();
    @include border-radius(0 0 20px 20px);
  }
}
#btn_articles{
  a{
    color: white;
  }
  position: absolute;
  left:-1px;
  top:-32px;
  color: white;
  background:#97BF0D;
  height: 40px;
  font-size: 18px;
  padding: 5px;
  @include border-radius(10px 10px 0 0);
  text-decoration: underline;
  img{
    vertical-align: top;
  }
}
#container-article{
  width: 80%;
  min-height: 500px;
  height: auto;
  margin: 30px auto;

  .sous_actus{
    background: #97BF0D;
    color: #ffffff;
    @include border-radius(10px 10px 0 0);
    padding-left: 10px;
  }
}
.last-10-articles{
  width: 45%;
  min-height: 500px;
  height: auto;
  float: left;

  background: #f5f5f5;
  @include border-radius(10px);
  
  img{
    float: left;
    margin-right: 10px;
    border-right: 1px solid white;
  }
  .infos-article{
   margin: 20px;
    background: #C1E53D;
    border: 1px solid #dddce1;
    padding: 10px;
    min-height: 120px;
    height: auto;
    overflow: hidden;
    a{
      color: #4E5E65;
    }
    hr{
      border: 1px solid #4E5E65;;
    }
    p{
      color: #4E5E65;
    }
  }
  .extrait-article-description{
   text-align: justify;
  }

}

.all-articles{
  width: 50%;
  height: 500px;
  border: 1px solid $vert_clair;
  float: right;
  background: #ffffff;
  @include border-radius(10px);

.description-actu{
  color: #4E5E65;
}
  .article-extrait img{
    float: right;
    margin-right: 10px;
  }

}

.article-extrait{
  border-bottom: 1px solid #dddce1;
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 1px 1px 1px 5px;
  a{
    color: $vert_clair;
    font-size: 20px;
  }
}

.date-actu{
  color: $vert_clair;
}
/***** FIN ACTU ********/
#header_offre{
  position: absolute;
  width: 585px;
  height: 40px;
  font-size: 30px;
  background: $vert_clair;
  color: white;
  margin-top: -22px;
  padding-left: 16px;
  line-height: 40px;
  @include box-shadow(0 10px 30px -2px #343434);

  @include border-radius(0 20px 0 0 );
  p{
    float: right;
  }
  img{
    vertical-align: -5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
#header_offre:after{
  @include pliage_droite();
}
/*************************/

/******* SLOGAN *********/
#slogan{
  width: 64%;
  height: 70px;
  background: white;
  margin-top: 40px;
  margin-bottom: 40px;
  @include bordure_bas();
  line-height: 70px;
  margin-left: 5%;
  text-align: center;
  font-family:  "segoe print",Calibri,Arial,Sans-Serif;
  @include border-radius(20px);
  h2{  color: $vert_clair;  font-size: 20px;  }
  img{  vertical-align: text-top;  }
}
/****************************/

/*
*****ELEMENTS ANTENNES********
*/

//Bouton pour accéder aux antennes
#btn_anntennes
{
  width: 300px;
  height: 100px;
  font-size: 25px;
  border: 2px solid $vert_clair ;
  border-bottom: 4px solid $vert_clair;
  background-color: white;
  padding: 10px;
  @include border-radius(10px);
  color: $vert_clair;
  margin-right: 30px;
  margin-top: 60px;
  float: right;
  text-align: center;
  @include transition(all .5s);
  @include ombre_portée();
}
#btn_anntennes:hover{
  cursor: pointer;
  background: #545657;
  outline: none;
}
.img_antennes{  float:right;  }

#container_antennes{
  width: 1200px;
  background: #4F5D64;
  margin: 20px auto;
  height: auto;
  padding-bottom: 20px;
  @include border-radius(20px 20px 0 0);
  hr{
    //margin-top: 40px;
    border: 1px solid $vert_clair;
  }

  //Position de chaque antennes
  #ant_left,#ant_right{
    width: 550px;
    height: 220px;
    background: $vert_clair;
    margin-top: 60px;
    color: white;
    float: left;
    @include border-radius(0 20px 20px 0);
    position: relative;
  }
  #ant_right{
    float: right;
    @include border-radius(20px 0 0 20px);
  }
  h2{
    text-align: center;
    font-family:  "segoe print",Calibri,Arial,Sans-Serif;
    color: $vert_clair;
    font-size: 30px;
  }
}

//DIV CONTENANT LES INFOS DES ANTENNES
.contenu_antennes{
  margin-left: 20px;
  img{
    position: absolute;
    top: 10px;
    right: 10px;
    @include border-radius(20px);
  }
  hr {  border:1px solid $vert_clair;  }

  h3{  font-size: 30px;  margin:0;  }
  h4{
    color: #4F5D64;
    font-size: 20px;
    margin:0;
  }
}

/*****************************/

.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/**MENU DU BAS*************/
#menu{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;


  .item_menu{
    display: inline;
    width: 400px;
    background: #FFF;
    color: $vert_clair;
    list-style: none;
    padding: 10px;
    margin-right: 10px;
    border-bottom: 4px solid #718e08;
    @include border-radius(10px);
  }
  #qsn:hover{
    cursor: pointer;
  }
}

#container_menu{
  position: relative;
  display: flex;
  width: 95%;
  margin: 0 auto;
  height: 100px;
  background: $vert_clair;
  text-align: center;
  margin-top: 6px;
  @include bordure_bas();
  @include border-radius(20px);
}

/****************************/
/*.arrow_box {
  display: none;
  position: relative;
  background: #97BF0D;
  border: 2px solid #718e08;
  @include border-radius(20px);
  width: 500px;
  min-height: 300px;
  height: auto;
  padding: 10px;
  z-index: 99999;
  margin-top: -104px;
  margin-left: 28px;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(151, 191, 96, 0);
  border-top-color: #718e08;
  border-width: 20px;
  margin-left: -20px;
}
.arrow_box:before {
  border-color: rgba(113, 142, 8, 0);
  border-top-color: #718e08;
  border-width: 26px;
  margin-left: -26px;
}

#close{
  position: absolute;
  width: 30px;
  height: 30px;
  top:5px;
  right:5px;
  @include border-radius(50%);
  background: #718E08;
  color: white;
  text-align: center;
  line-height: 30px;
}
#close:hover{
  cursor: pointer;
}
*/
/***** MAP ************/
#map{
  width: 70%;
  height: 350px;
  float: left;
  margin-top: 30px;
  @include ombre_portée();
  @include border-radius(20px);
}
#marker{
  h2{  font-size: $font-family;  color: $vert_clair;  }
  p{  font-size: 18px;  color: $background;}
}

#header_where:before{
  @include pliage();
}
.cb{
  clear: both;
}
#iteneraire{
  width: 320px;
  background-color: #fff;
  float: right;
  padding-top: 30px;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 20px;
  color: $vert_clair;
  @include ombre_portée();
  @include border-radius(20px);
  border-bottom: 4px solid $vert_clair;
  form{
    margin-top: 20px;padding:10px;     }

  label{
    display: block;
    width: 150px;
    height: 20px;
    float: left;
    margin-bottom: 5px;
  }
  input[type="text"]{
    width: 140px;
    height: 20px;
    color: $vert_clair;
    margin-bottom: 5px;
  }
  input[type="button"]{
    padding: 5px;
    background: $vert_clair;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 10px;
  }
  select{
    width: 120px;
  }
}

#panel{
  width:700px;
  margin:auto;
  z-index: 100;
  background: white;
}
#header_iteneraire{
  width: 320px;
  height: 60px;
  font-size: 44px;
  background: $vert_clair;
  @include border-radius(20px 20px 0 0);
  @include ombre_portée();
  color: white;
  line-height: 60px;
  margin-top: -51px;
  text-align: left;
  img{
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: -5px;
    margin-top: 5px;
  }
}
#where{
  width: 95.5%;
  height: 420px;
  padding: 10px 0 10px 10px;
  margin: 60px auto;
  background: $vert_clair ;
  @include border-radius(20px);
  @include bordure_bas();
}
#header_where{
  position: relative;
  @include header_div(1260px);
  @include border-radius(20px 20px 0 0 );
  @include box-shadow(0 10px 30px -2px #343434);
  margin-top: -20px;
  margin-left: -40px;
  img{
    vertical-align: -5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

/***** BOUTON D'APPEL *****/
#block_appel{
  position: absolute;
  top: -140px;
  right:-54px;
  width: 300px;
  height: 150px;
  background: #4f5d64;
  @include rotate(10deg);
  @include box-shadow();

  p{ text-align: center;  color: white;  }
  .punaise{  margin: 0;  margin-right: 10px;  }

  #conseiller{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
  }
}
#block_appel:hover{
  border: 2px solid white;
  box-shadow: none;
  width: 302px;
  height: 152px;
}
#header_where:after{  @include pliage_droite();  }
/****************************/

/*******M MODAL BOX **************/
#modalbox{
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  #box{
    width: 700px;
    min-height: 270px;
    height: auto;
    background: #fff;
    margin: 1.5em auto;
    @include border-radius(20px);
    position: relative;
  }

  li{
    font-size: 15px;
    color: red;
    margin: 0;
    padding: 0;
  }
  .silhouette_small{
    width: 200px;
    height: 240px;
    position: absolute;
    left: 0;
    bottom: 0;
    @include border-radius(20px 0 0 20px);
  }
  h3{
    color: $vert_clair;
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
  label{
    display: block;
    width: 296px;
    float: left;
    font-size: 25px;
  }
  input{  display: inline-block;  font-size: 25px;  }
}
#modalbox:target{
  display: block;

  html,body{
    overflow: hidden;
  }
  #form-appel{
    width: 300px;
    padding: 10px;
    margin: 0 auto;
  }
  .numero_label{
    font-size: 15px;
    font-style: italic;
  }
}
// BOUTON DE VALIDATION
.btn-submit{
  float: right;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: $vert_clair;
  @include bordure_bas();
  color: white;
  font-size: 25px;
  margin-right: -30px;
}
// CROIX POUR FERMER LA MODAL BOX
.cross{
  position: absolute;
  top: 2px;
  right: 10px;
  background: #4f5d64;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  a{
    color: white;
    font-weight: bold;
    font-size: 25px;
  }

}

.success{
  color: white;
  font-size: 20px;
  text-align: center;
  background: #6FB6A4;
  @include bordure_bas(#4F887A);
}
/*******MOINS 26 ANS *************/

.bulle_categorie{
  width: 400px;
  height: 339px;
  margin-bottom: 20px;
  margin-left: 40px;
}

#block-contact{
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: white;
  background: #EE7F00;
  @include border-radius(20px);
}
#back-categorie{
  width: 53.3em;
  display: block;
  height: 130px;
  padding: 0;
  text-align: center;
  @include border-radius(10px);
  position: absolute;
  bottom:17%;
  left: 25%;
}
li{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  color: white;
  @include border-radius(20px);
}
.li-former{
  background-color: $bleu;
}
.li-faire{
  background-color: $rose;
}
.li-quotidien{
  background-color: $orange;
}
.li-emploi{
  background-color: $vert_clair;
}
.bulle_moins_26{
  margin-left: 300px;
}
//RENCONTRER UN CONSEILLER
.conseiller{
  display: block;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-top: 74px;
}
.cancel-top-margin{
  margin-top: 20px;
}
// Les 4 blocs
#block_emploi,#block_faire,#block_former,#block_quotidien{
  width: 250px;
  height: 200px;
  @include background-image(linear-gradient(#97BF0D #97BF0D, #c1e53d));
  @include border-bottom-radius(5px);
  float: left;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
  transition: all 1s;
  position: relative;
  h1{
    font-size: 25px;
  }

  img{
    width: 250px;
    height: 100px;
    margin-top: -25px;
  }
  p{
    color: #FFF;
    font-size: 18px;
    margin: 0;
    padding: 10px;
  }
  p:hover{
    cursor: pointer;
  }
  //Trait de sépération de chaque sous items
  hr{
    border: 1px dotted white;
    text-align: center;
    margin:0;
  }
}

//Animations au survol des 4 blocs

#block_emploi:hover{
  height: auto;
  .item_emploi{
    visibility:visible;
    opacity:1;
    transition-delay:.1s;
  }
}

#block_former:hover{
  .item_former{
    visibility:visible;
    opacity:1;
    transition-delay:.1s;
  }
  height: auto;
}
#block_faire:hover{
  .item_faire{
    visibility:visible;
    opacity:1;
    transition-delay:.1s;
  }
  height: auto;
}
#block_quotidien:hover{
  .item_quotidien{
    visibility:visible;
    opacity:1;
    transition-delay:.1s;
  }
  height: auto;
}
#wrapper-item{
  width: 90%;
  margin: 0 auto;
}
#container_item{
  width: 1100px;
  height: 65vh;
  margin: 2em auto;
  margin-top: 20px;
  margin-bottom: 50px;
  @include border-radius(20px);
}
.background_container{
  background-image: url('../img/background.jpg');
}
.opacity{
  opacity: 0.5;
}
//BANDEAU DE CONTACT
#bandeau_categorie,#bandeau_employeur,#bandeau_plus26{
  width: 1111px;
  height: 50px;
  background-color: #F07D00;
  position: relative;
  margin-bottom: -20px;
  margin-left: -16px;
  line-height: 50px;
  @include border-radius(20px 20px 0 0);

  p{
    font-size: 25px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
  }
}
.bandeau_item{
  width: 1252px;
  height: 50px;
  background-color: #F07D00;
  position: relative;
  margin-left: -26px;
  line-height: 50px;
  @include border-radius(20px 20px 0 0);

  p{
    font-size: 25px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
  }
}
.bandeau_item:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top:49px;
  right:-1px;
  border-style: solid;
  border-width: 26px 27px 0 0;
  border-color: #9b5000 transparent transparent transparent;
  z-index: 5;
}
.bandeau_item:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top:49px;
  left:-1px;
  border-style: solid;
  border-width: 0 27px 26px 0;
  border-color: transparent #9b5000 transparent transparent;
  z-index: 5;
}
#bandeau_employeur{
  background-color: $vert_clair;
}
#bandeau_plus26{
  background: $bleu;
}

#bandeau_categorie:after,#bandeau_employeur:after,#bandeau_plus26:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top:49px;
  right:-1px;
  border-style: solid;
  border-width: 26px 27px 0 0;
  border-color: #9b5000 transparent transparent transparent;
  z-index: 5;
}
#bandeau_employeur:after{
  border-color: #759E1A transparent transparent transparent;
}
#bandeau_plus26:after{
  border-color: #35656A transparent transparent transparent;
}
#bandeau_categorie:before,#bandeau_employeur:before,#bandeau_plus26:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top:49px;
  left:-1px;
  border-style: solid;
  border-width: 0 27px 26px 0;
  border-color: transparent #9b5000 transparent transparent;
  z-index: 5;
  h1{
    color: #ffffff;
  }
}
#bandeau_employeur:before{
  border-color: transparent #759E1A transparent transparent;
}
#bandeau_plus26:before{
  border-color: transparent #35656A transparent transparent;
}

/*********************************************/
.item{
  padding: 10px;
}

.item_emploi,.item_faire,.item_quotidien,.item_former{
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.1s,opacity 0.1s linear;
}
.block_emploi_auto, .block_former_auto, .block_faire_auto, .block_quotidien_auto{
  width: 250px;
  height: auto;
  float: left;
  margin: 0 10px 0 10px;
  text-align: center;
  color: white;
  font-size: 18px;
  @include border-radius(0 0 20px 20px);

  img{
    width: 250px;
    height: 100px;
    margin-top: -25px;
  }
}


// CHANGEMENT DES COULEURS EN FONCTION DU BLOCK
//Changement de couleur du bandeau
.bandeau_bleu{
  background: $bleu;
}
.bandeau_bleu:before{
  border-color: #325A65 transparent transparent transparent;
}
.bandeau_bleu:after{
  border-color: transparent #325A65 transparent transparent;
}
.bandeau_orange{
  background: $orange;
}
.bandeau_orange:before{
  border-color: #9B5000 transparent transparent transparent;
}
.bandeau_orange:after{
  border-color: transparent #9B5000 transparent transparent;//
}
.bandeau_vert{
  background: $vert_clair;
}
.bandeau_vert:before{
  border-color: #718E08 transparent transparent transparent;
}
.bandeau_vert:after{
  border-color: transparent #718E08 transparent transparent;//
}
.bandeau_rose{
  background: $rose;
}
.bandeau_rose:before{
  border-color: #652A2A transparent transparent transparent;
}
.bandeau_rose:after{
  border-color: transparent #652A2A transparent transparent;//
}
.block_former_auto, .block_quotidien_auto, .block_faire_auto, .block_emploi_auto{
  .item:hover:last-child{
    @include border-radius(0 0 20px 20px);
  }
}
#block_emploi, .block_emploi_auto{
  @include background-image(linear-gradient(#97BF0D #97BF0D, #c1e53d));
  @include bordure_bas();
  p:hover{
    background-color: #759e1a;
    cursor: pointer;
  }
}
#block_former, .block_former_auto{
  @include background-image(linear-gradient(#579CA1 #579CA1, #6bbbc6));
  @include bordure_bas(#325A65);
  p:hover{
    background-color: #30a8a6;
    cursor: pointer;
  }
}


#block_faire, .block_faire_auto{
  @include background-image(linear-gradient(#D40050 #D40050, #c14b72));
  @include bordure_bas(#652A2A);

  p:hover{
    background-color:#d14976;
  }
}

#block_quotidien, .block_quotidien_auto{
  @include background-image(linear-gradient(#EE7F00 #EE7F00, #f08f3d));
  @include bordure_bas(#652B1C);

  p:hover{
    background-color: #fca350;
  }

  z-index: 20;
}
//BANDE DES PERSONNAGES
#bandeau_perso{
  width: 100%;
  display: block;
  margin: 0 auto;
}


#wrapper-categorie{
  width: 1200px;
  min-height: 80vh;
  height: auto;
  margin: 20px auto;
  margin-bottom: 50px;
  @include border-radius(20px);

  hr{
    margin: 0;
  }
}
/*
** PAGE MOINS 26 n+2 ELEMENT A DROITE
*/
.item_right{
  position: relative;
  color: black;
  width: 60%;
  min-height: 30em;
  height: auto;
  float: left;
  background-color: #ffffff;
  margin: 2em 0 2em 5em;
  padding: 10px;
  padding-bottom: 50px;
  @include border-radius(10px);

  h2{
    margin:0;
    margin-left: 10px;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    font-size: 25px;
  }
  li:before{
    content: "- ";
  }
  p{
    margin: 10px;
  }
}

.bandeau_sous_item{
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 4%;
}


.border-emploi{
  border: 3px solid $vert_clair;
}
.border-faire{
  border: 3px solid $rose;
}
.border-former{
  border: 3px solid $bleu;
}
.border-quotidien{
  border: 3px solid $orange;

}


.button{
  width: 300px;
  font-size: 20px;
  color: white;
  background-color: #c1e53d;
  border: 1px solid white;
  margin-left: 50px;
  margin-top: -50px;
  padding: 10px;
  @include border-radius(10px);
}
.button:hover{
  color: #c1e53d;
  background-color: white;
  cursor: pointer;
}
/******************************************/

/********PAGE EMPLOYEUR*******************/
#liste_employeur{
  display: block;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  li{
    list-style: none;
    display: inline-block;
    background-color: #94C11F;
    padding: 10px;
    font-size: 25px;
    color: #FFFFFF;
    @include border-radius(10px);
    margin-right: 10px;
    width:300px;
    height: 500px;
    text-align: center;
    h1{
      font-size: 30px;
    }

  }
  li:hover{
    cursor: pointer;
  }
}

#all_articles{
  font-size: 20px;
  text-decoration: underline;
  float: right;
  margin-top: -4px;
  margin-right: 5px;

  a{
    color: white;
  }
}
/*****************************************/


/*********FIL D'ARIANNE***********/

.arianne{
  color: white;
  display: inline-block;
  width: auto;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  padding:10px;
  margin-top: 10px;
  background: #97bf0d;
  border-bottom: 4px solid #718e08;
  @include border-radius(20px 20px 20px 20px);
  p{
    margin: 0;
  }
  a{
    color: #ffffff;
  }
  a:hover{
    text-decoration: underline;
  }
}
/**********************************/
footer{
  width: 100%;
  margin: 0 auto;
  margin-top: 28px;
}

@media only screen and (max-width: 1440px){
  #header{
    width: 1380px;
  }
  .small-header{
    width:  1380px;
  }
}

/*
*** MEDIA QUERIES ******
*/
@media only screen and (max-width: 1366px ){
  #header{
    width: 1306px;
  }
  .small-header{
    width:  1306px;
  }
}
@media only screen and (max-width: 1280px ){
  #header{
    width: 1246px;
  }
  .small-header{
    width:  1246px;
  }
}
@media only screen and (max-width: 1024px ) {
  #header {
    width: 964px;
    height: 330px;

    #bulles{
      margin-left: 26%;
      img{
        width: 220px;
      }
    }
  }
  #container{
    width: 986px;
  }
  #wrapper-top{
    width: 70%;
  }
  #actu{
    width: 90%;
    float: none;
    margin-bottom:50px;
    #header_actu{
      width: 652px;
    }
  }
  #offre{
    width: 90%;
    float: none;

    #header_offre{
      width: 652px;
    }
  }
  #silhouette{
    width: 800px;
    margin-left: -400px;
  }
  #slogan{
    width: 95%;
    margin: 0 auto;
    margin-top: 360px;
  }
  #where{
    width: 65.5%;
    height: auto;
    text-align: center;
    #header_where{
      width: 705px;
    }
    #map,#iteneraire,#btn_antennes{
      float: none;
    }
    #map{
      width: 97%;
    }
  }
  #btn_anntennes{
    width: 225px;
    height: 120px;
  }
  #container_menu{
    width: 93%;
    #menu{
      width: 100%;
      li{
        width: 300px;
        padding: 5px;
      }
    }
  }

  #bandeau_categorie{
    width: 105.8%;
  }
  #wrapper-item{
    width: 900px;
  }
  #block_emploi,#block_former,#block_faire,#block_quotidien{
    width: 204px;
    h1{
      font-size: 20px;
    }
    .conseiller{
      font-size: 20px;
    }
  }
}
.flash-info, .flash-notice, .flash-error{
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 21px;
  font-size: 26px;
  text-align: center;
  background: #6FB6A4;
  padding: 10px;
  @include bordure_bas(#4F887A);
}
.flash-error {
  background: #FF6649;
  @include bordure_bas(#BA5A3E);

}




