# you can read more about security in the related section of the documentation
# http://symfony.com/doc/current/book/security.html
security:
    # http://symfony.com/doc/current/book/security.html#encoding-the-user-s-password
    encoders:
      FOS\UserBundle\Model\UserInterface: sha512

    # http://symfony.com/doc/current/book/security.html#hierarchical-roles
    role_hierarchy:
            ROLE_MODERATEUR:  [ROLE_APPEL,ROLE_OFFRE]
            ROLE_ADMIN:       [ROLE_MODERATEUR]
            ROLE_SUPER_ADMIN: [ROLE_ADMIN,]

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

             

    # the main part of the security, where you can set up firewalls
    # for specific sections of your app
    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
             pattern: ^/
             form_login:
                 provider: fos_userbundle
                 csrf_provider: form.csrf_provider
                 default_target_path: /admin
             logout:       true
             anonymous:    true

    access_control:
            - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
            - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
            - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
            - { path: ^/admin/modules/offres, role: ROLE_OFFRE }
            - { path: ^/admin/module/appel, role: [ROLE_APPEL,ROLE_MODERATEUR] }
            - { path: ^/admin/module/antenne, role: [ROLE_APPEL,ROLE_MODERATEUR] }
            - { path: ^/admin/modules, role: [ROLE_ADMIN,ROLE_MODERATEUR,ROLE_OFFRE] }
            - { path: ^/admin/categorie, role: [ROLE_ADMIN,ROLE_MODERATEUR] }
            - { path: ^/admin/, role: [ROLE_ADMIN,ROLE_OFFRE,ROLE_MODERATEUR,ROLE_APPEL] }

