{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block title_admin %}Ajouter un sous item {% endblock %}
{% block content %}
    <a href="{{ path('admin_sous_item', { 'id': app.request.get('id')} ) }}">
        <button>Page précédente</button>
    <a>

    {{ form(form) }}
{% endblock %}