{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block title_admin %}Modifier un sous item {% endblock %}
{% block content %}

    {% for message in app.session.flashbag.get('info') %}

        <h4 class="success">{{ message }}</h4>

    {% endfor %}
<a href="{{ path('admin_sous_item', { 'id': 25} ) }}">
    <button>Page précédente</button>
    <a>
    {{ form(form) }}
{% endblock %}