{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block title_admin %}Gérer la catégorie : Moins de 26 ans {% endblock %}
{% block content %}
    <a href="{{  app.request.headers.get('referer') }}">
        <button>Page précédente</button>
    </a>
    {{ form(form) }}

{% endblock %}