{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Qui sommes nous
{% endblock %}
{% block body %}
    <div id="wrapper-item">
        <div id="documentation">
            <div id="header_doc"> <h1>Qui sommes nous ?</h1></div>
                <div class="contenu_doc">
                    {{ qsn.contenu|raw }}
                </div>
        </div>
        {% include "::footer.html.twig" %}
    </div>
{% endblock %}
