{% extends "::base_admin.html.twig" %}
{% block body %}
    <div id="wrapper-admin">
        <div class="header">{% block title_admin %}{% endblock %}</div>

        {% block arianne %}
            {{ parent() }}
        {% endblock %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div id="container-data">
            {% block content %}

            {% endblock %}

        </div>
        {% block btn_admin %}{% endblock %}
    </div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}