{% extends "::base_admin.html.twig" %}
{% block body %}
    <div id="wrapper-admin">
        <div class="header">{% block title_admin %}{% endblock %}</div>

        <div id="container-data">
            {% block content %}

            {% endblock %}

        </div>
    </div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}