{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Conditions générles des offres
{% endblock %}
{% block body %}
    <div id="wrapper-item">
        <div id="documentation">
            <h1>Conditions générles des offres</h1>
            <hr/>
        </div>

        {% include "::footer.html.twig" %}
    </div>
{% endblock %}
