{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Moins de 26 ans
{% endblock %}
{% block body %}
    <div id="wrapper-item">
        <h1>doc</h1>
    </div>

    {% include "::footer.html.twig" %}
{% endblock %}
