{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Moins de 26 ans
{% endblock %}
{% block body %}
    <div id="wrapper-item">
        <div id="documentation">
            <h1>Documentation</h1>
            <hr/>
            <div><div style="margin:8px 0px 4px;"><a href="http://www.calameo.com/books/004391954e41ba9b153bb" target="_blank">Ra Mlife 11</a></div><iframe src="//v.calameo.com/?bkcode=004391954e41ba9b153bb&mode=viewer&clickto=view&clicktarget=_self" width="560" height="350" frameborder="0" scrolling="no" allowtransparency allowfullscreen style="margin:0 auto;"></iframe><div style="margin:4px 0px 8px;"><a href="http://www.calameo.com/" target="_blank">Lire plus de publications sur Calaméo</a></div></div>
        </div>
    </div>

    {% include "::footer.html.twig" %}
{% endblock %}
