{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Moins de 26 ans
{% endblock %}
{% block body %}
    <div id="wrapper-item">
        <div id="documentation">
            <div id="header_doc" >
                <h1>Documentation</h1>
            </div>
            <div id="container_doc">
                {% for doc in docs %}
                    <div id="doc">
                        <h2>{{ doc.nomDoc }}</h2>
                        {{ doc.iframe|raw }}
                        <hr/>
                    </div>

                {% endfor %}
            </div>
            <div class="cb"></div>
        </div>
        {% include "::footer.html.twig" %}
    </div>
{% endblock %}
