{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Les antennes
{% endblock %}
{% block body %}
    <div id="wrapper-item">
        <div class="arianne">
            {% block arianne %}
                <p>{{ parent() }} / Agenda</p>
            {% endblock %}
        </div>
        <div id="documentation">
            <div id="header_doc"><h1>Agenda</h1></div>
                {{ agenda.iframe|raw }}
        </div>
             {% include "::footer.html.twig" %}
    </div>
{% endblock %}
