main_homepage:
    path:     /
    defaults: { _controller: MainBundle:Default:index }
moins26_page:
    path: /moins-26-ans
    defaults: { _controller: MainBundle:Moins26ans:index}
employeur_page:
    path: /employeur
    defaults: { _controller: MainBundle:Employeur:index}
plus26_page:
    path: /plus26ans
    defaults: { _controller: MainBundle:Plus26ans:index}
antennes_page:
    path: /antennes
    defaults: { _controller: MainBundle:Default:antennes}
categorie_page:
    path: /{slug}/{slug_sous_item}-{id}
    defaults: { _controller: MainBundle:SousItem:index}
    requirements:
            slug: "[a-zA-Z1-9\-_\/]+"
            slug_sous_item: "[a-zA-Z1-9\-_\/]+"
            id: \d+
sous_item_page:
    path: /description/{id}
    defaults: { _controller: MainBundle:Moins26ans:getDescription}
    options:
        expose: true
antenne_xml:
    path: /xml
    defaults: { _controller: AdminBundle:Antenne:getAntennes }
    options:
            expose: true
doc_page:
    path: /documentation
    defaults: { _controller: MainBundle:Doc:home}
offre_page:
    path: /offre/{slug}
    defaults: { _controller: MainBundle:Offre:getOffre}
    requirements:
                slug: "[a-zA-Z1-9\-_\/]+"
offres_page:
    path: /offres
    defaults: { _controller: MainBundle:Offre:getAllOffre}
agenda_page:
    path: /agenda
    defaults: { _controller: MainBundle:Default:agenda}
