main_homepage:
    path:     /
    defaults: { _controller: MainBundle:Default:index }
moins26_page:
    path: /moins26ans
    defaults: { _controller: MainBundle:Moins26ans:index}
employeur_page:
    path: /employeur
    defaults: { _controller: MainBundle:Employeur:index}
plus26_page:
    path: /plus26ans
    defaults: { _controller: MainBundle:Plus26ans:index}
antennes_page:
    path: /antennes
    defaults: { _controller: MainBundle:Default:antennes}
categorie_page:
    path: /categorie/{slug}
    defaults: { _controller: MainBundle:Moins26ans:categorie}
sous_item_page:
    path: /description/{id}
    defaults: { _controller: MainBundle:Moins26ans:getDescription}
    options:
        expose: true
