main_homepage:
    path:     /
    defaults: { _controller: MainBundle:Default:index }
moins26_page:
    path: /moins-26-ans
    defaults: { _controller: MainBundle:Moins26ans:index}
employeur_page:
    path: /employeur
    defaults: { _controller: MainBundle:Employeur:index}
plus26_page:
    path: /plus26ans
    defaults: { _controller: MainBundle:Plus26ans:index}
antennes_page:
    path: /antennes
    defaults: { _controller: MainBundle:Default:antennes}
categorie_page:
    path: /{slug}/{slug_sous_item}-{id}
    defaults: { _controller: MainBundle:Moins26ans:categorie}
    requirements:
            slug_sous_item: "[a-zA-Z1-9\-_\/]+"
            id: \d+
sous_item_page:
    path: /description/{id}
    defaults: { _controller: MainBundle:Moins26ans:getDescription}
    options:
        expose: true
validation_appel_page:
    path: /appel_validation
    defaults: { _controller: MainBundle:Appel:validation}
show:
    path:     /show
    defaults: { _controller: MainBundle:Offre:show }

add:
    path:     /add
    defaults: { _controller: MainBundle:Offre:add }

edit:
    path:     /edit
    defaults: { _controller: MainBundle:Offre:edit }

delete:
    path:     /delete
    defaults: { _controller: MainBundle:Offre:delete }
antenne_xml:
    path: /xml
    defaults: { _controller: AdminBundle:Antenne:getAntennes }
    options:
            expose: true